[2018-04-04 14:07] gavanderhoorn opened #2 "Enable Travis"
As per subject.

This would enable CI for this repository.

[2018-04-04 14:10] gavanderhoorn opened #3 "Convert to pure CMake package"
Adapt `CMakeLists.txt` so we can accomodate building the library without Catkin / in a non-ROS (build) environment.

[2018-04-09 08:59] gavanderhoorn opened #7 "Protobuf generated headers do not appear to get installed"
The headers (and sources) generated by protobuf are not installed by the build script at the moment.

This is less of a problem in a Catkin workpace, as there the include will resolve to the `build` and / or `devel` folder (where the files are stored after code generation), but for a stand-alone build/install (or a user that uses the `install` space) this will not work.

[2018-04-21 15:04] gavanderhoorn commented on #2
Done in #5.

[2018-04-21 15:04] #2 closed

[2018-06-14 12:27] YoshuaNava opened #11 "Proto Quaternion definition"
Hej,
In the [protobuf definition of Quaternion](https://github.com/ros-industrial/abb_libegm/blob/58ba9799ba9f0a71b5a9beafc7c502cdfb30ec83/proto/egm_wrapper.proto#L115), it is not very clear to which quaternion dimension each field corresponds, e.g:

Is it the case that

[code]

Or

[code]

for a quaternion defined as w + x **i** + y **j** + z **k** ?

Thank you.

[2018-06-14 14:37] jontje commented on #11
Hej!

It is the second one:
[code]

It follows the same definition as the RAPID data type `orient`

[2018-06-14 14:54] gavanderhoorn commented on #11
@jontje: would this be something to add as a comment in the `.proto` file?

[2018-06-14 14:58] jontje commented on #11
Definitely, I will do that

[2018-07-31 11:12] traversaro commented on #3
Hi @gavanderhoorn , if you are still interested in this I would be happy to migrate the build system to use plain CMake .

[2018-07-31 11:14] gavanderhoorn commented on #3
A migration is not something we can do, as we still need to be able to build this project as a ROS package for now.

Alternative `CMakeLists.txt` or perhaps even a mixed `CMakeLists.txt` could be approaches we might consider.

[2018-07-31 11:27] gavanderhoorn commented on #3
This is only partially true: packages that are pure-cmake will not be directly buildable by `catkin_make`, but will require using `catkin_make_isolated` or `catkin_tools`.

In order to avoid having to create an underlay (in which to build `abb_lib*`) and then an overlay with the rest of the Catkin packages, or require the use of `catkin_tools`, it would be good to keep the default build Catkin com

[2018-07-31 11:35] traversaro commented on #3
Thanks, got it. I will try to prepare a mixed `CMakeLists.txt` approach as you suggested.

[2018-07-31 12:26] gavanderhoorn commented on #3
Perhaps even creating a completely stand-alone, new, `CMakeLists.txt` would be an option to consider. If we give it a distinctive name (`CMakeLists.txt.non-ros`), users wanting to build the library without ROS would replace the default `CMakeLists.txt` with that file and then build.

A hybrid could also work, but tends to become a bit cluttered in my experience.

But if you find a nice way, please

[2018-08-04 20:56] mitch1044444 opened #15 "Questions: does abb_libegm allows for joint velocity control?"
Hi All,

I know this perhaps is not the best place to ask questions. However, we are on a tight schedule and have to make a decision recently to purchase a large robot for force control.

I wonder if abb_libegm allows for the control of joint_velocity in real-time? If so, could you please briefly tell me its real-time performance of joint velocity tracking and its difference from abb_librws?

Than

[2018-08-07 11:54] jontje commented on #15
Hi @mitch1044444,

Yes, abb_libegm allows for joint velocity control. Concerning the real-time aspect it will depend on your requirements.

The highest frequency EGM can run at the moment is 250 Hz, so every 4 ms the robot controller can accept new control references. However, there is also a control lag of 10-20 ms depending on the robot type and how EGM has been configured (the numbers are from

[2018-08-17 19:38] mitch1044444 commented on #15
Thank you so much for your helpful information @jontje . Just want to check if my understanding is correct.

1. If we have a ABB robot with IRC5 controller, then we install the ABB driver [here](http://wiki.ros.org/abb_driver), abb_libegm and Robotware. I read from ABB websites

   so we can find a Robotware with the version between 6.0 and 6.06.01. That should allow us to communicate with the rob

[2018-08-21 15:27] mitch1044444 commented on #15
Thank you so much. Really appreciate your help.

[2018-08-21 15:28] #15 closed

[2018-09-06 09:26] jontje opened #17 "Expand the readme"
Add sections for:
- Structure/class descriptions
- Troubleshooting
- Acknowledgements

[2018-09-06 09:27] gavanderhoorn commented on #17
May I suggest we use `Doxygen` and/or `Sphinx` for that?

The code already contains quite a lot of Doxygen compatible comments, and additional material could be added there as well. `Doxygen` has quite good support for this.

[2018-09-06 09:29] jontje opened #18 "Create code samples"
Create samples to showcase how to use the interface classes, including:
- C++ code
- RAPID code (and possibly a RobotStudio Pack&Go file for a simulation setup)
- Instructions

[2018-09-06 09:31] jontje opened #19 "Migrate to target RobotWare 6.07 or later"
As per title.

[2018-09-06 10:18] jontje opened #20 "Add support for additional EGM modes"
As per title.

Currently unsupported modes are:
- **EGM Path Correction**
Path correction can be used to correct a programmed robot path (requires using special RAPID move instructions).

- **EGM Position Stream (requires RobotWare 6.07 or later)**
Position streaming can be used for when it is only interesting to track a mechanical unit's position, and not to control it's motion.

This can for exa

[2018-09-06 11:29] gavanderhoorn commented on #17
re: structure/class descriptions: that's exactly what I would put in the Doxygen docs (see the `roscpp` example I linked earlier).

Those can then be pushed to a gh-pages branch and we'll have them hosted right here on github.

[2018-09-06 11:42] jontje commented on #17
Ok, great :)

[2018-09-06 16:35] jontje opened #21 "Improve descriptions for constructors"
Right now the code contains several "A constructor" or "A default constructor" descriptions. It would be nicer to have more descriptive documentation.

[2018-09-06 16:35] jontje opened #22 "Improve parameter descriptions"
As per title

[2018-09-10 09:17] jontje commented on #17
Follow-up thought:
It would probably not hurt to have the description in both the readme (short version?) and in the API documentation (more detailed version?).

Also, I will probably add some hints on how to build the library on Windows as well.

[2018-09-15 19:48] traversaro commented on #17
Besides https://github.com/ros-industrial/abb_libegm/issues/3, a few additional fixes will be necessary to correctly compiled the library on  Windows. One issue for sure is symbol visibility, but that can be easily addressed by setting `CMAKE_WINDOWS_EXPORT_ALL_SYMBOLS` to `TRUE` (see https://blog.kitware.com/create-dlls-on-windows-without-declspec-using-new-cmake-export-all-feature/).

If the lib

[2018-09-29 15:02] robinzhoucmu commented on #19
Are there documentation on how the communication interface is changed after robotware 6.07?

[2018-10-01 06:18] jontje commented on #19
Hi @robinzhoucmu,

Yes, it is all specified in the RobotWare release notes: [Release Notes RW 6.07.pdf](https://github.com/ros-industrial/abb_libegm/files/2432807/Release.Notes.RW.6.07.pdf)

[2018-10-25 20:26] bhomberg opened #25 "Question: what specs are necessary for real-time system to run EGM?"
We're currently using an ABB IRB 1200 without EGM and are looking to switch over.  Has anyone used EGM and ROS to control an arm via a Linux computer (perhaps with real-time kernel patch / other modifications)?  How much jitter is acceptable / how hard of a real-time system do we need?  (If it matters, we're also planning to incorporate an external axis and will be switching from a compact control

[2018-10-29 15:11] bhomberg commented on #25
Hi @jontje -- thanks for your answer, that's very helpful!  I have a couple follow-up questions: how fast have you been updating the trajectories -- are you updating every 4ms (the max rate I saw listed in the ABB documentation) or less frequently?  Do you send the full trajectory, just the next waypoint, or a few waypoints ahead?

[2018-10-30 19:13] bhomberg commented on #25
This is very helpful @jontje!  Thanks for your answers.

[2018-10-30 19:13] #25 closed

[2019-01-08 15:02] jontje opened #28 "Switch to a newer C++ standard"
E.g. C++11 and start using std::shared_ptr instead of [boost::shared_ptr](https://www.boost.org/doc/libs/1_69_0/libs/smart_ptr/doc/html/smart_ptr.html#shared_ptr)

[2019-01-22 07:09] indraneelpatil commented on #18
Thank you for raising this issue! If you have a couple of minutes please help me through the situation that I am trying to solve. Please excuse the elementary questions. Thanks in advance.

I am currently trying to send Moveit Joint Trajectories to the 6 axis ABB 1410 manipulator interfaced with the IRC5 controller running Robotware 6.06.01. I successfully used the abb_driver package to implement

[2019-01-22 08:19] traversaro commented on #3
If anyone is interested in this, a prototype of this is available at https://github.com/traversaro/abb_libegm/commit/b2e1559610c2fdc5d6ba8ebdb332ef489f1127ff . I did not open a PR because this need for https://github.com/ros-industrial/abb_libegm/pull/23 and https://github.com/ros-industrial/abb_libegm/pull/24 merged before, but any comment on the approach (for example if it can considered "too cl

[2019-01-22 09:31] gavanderhoorn commented on #3
@traversaro nice work.

I do feel it's a bit too convoluted, yes. The ROS version of the `CMakeLists.txt` is relatively straightforward, so what about completely separating the two variants (ie: use different files)?

[2019-01-22 09:55] traversaro commented on #3
Just two clarify: I was trying to avoid the two separate  `CMakeLists.txt` files solution because it complicates the workflow when integrating the project using classical pure CMake approaches such as [`ExternalProject`](https://cmake.org/cmake/help/v3.11/module/ExternalProject.html) or [`FetchContent`](https://cmake.org/cmake/help/v3.12/module/FetchContent.html). However, I get your point.

I wou

[2019-01-25 14:37] jontje commented on #18
@indraneelpatil Here are the examples I am working on for the library: [abb_libegm_samples.zip](https://github.com/ros-industrial/abb_libegm/files/2796444/abb_libegm_samples.zip)

Please note that they are not completely finished/fully explained, so there might be some things missing but the code should at least give you some hints about how to use the library. There is also a RobotStudio Pack&Go

[2019-01-29 15:15] indraneelpatil commented on #18
@jontje Your examples were tremendously helpful. Using your examples I could successfully test the following:

1.  I could generate trajectories in moveit and track them in RobotStudio using the EGM joint trajectory mode. The only thing I could not set up was the joint_state_publisher (/joint_states topic) based on feedback from EGM for syncing actual movement with moveit.
2.  I could also use the

[2019-01-30 09:16] jontje commented on #18
@indraneelpatil No problem, and great to see that the examples were helpful!

1. You should be able to use the `EGMTrajectoryInterface::retrieveExecutionProgress(...)` method, and then map the retrieved data to the `/joint_states` topic. See the [egm_wrapper_trajectory.proto](https://github.com/ros-industrial/abb_libegm/blob/master/proto/egm_wrapper_trajectory.proto) file for the definition of the

[2019-01-30 13:55] indraneelpatil commented on #18
@jontje Thank you so much for your pointer number 1 regarding the retrieveExecutionProgress method!
Dont know how I missed it. I successfully synced moveit and controller feedback using the following snippet of code :

`ros::Publisher states_pub = node_handle.advertise<sensor_msgs::JointState>("/joint_states", 1000);

  sensor_msgs::JointState msg;
  msg.header.seq=0;
  msg.name.push_back("joint_1

[2019-01-30 14:22] jontje commented on #18
@indraneelpatil You are welcome, and good luck with the next task 😃

[2019-02-04 17:53] Mitch981521 commented on #18
I was wondering if someone would be able to assist me with the implementation of the code @jontje provided.  I have robot studio running on a windows computer and have ROS/EGM library on a linux computer that I'm wanting to use to control the robots.  When I run the RAPID code in RobotStudio, I get the following error: "41822 - No data from the UdpUc device".  Here are the steps I've taken so far

[2019-02-05 12:13] jontje commented on #18
@Mitch981521 Just to verify, have you started the EGM UDP server on the linux side? And have you verified that the correct remote port is used in the communication configurations on the RobotStudio side?

Also, have you tried to temporarily turn off the Windows Firewall? It might block the UDP communication, and if it does then you can add rules for the specific ports you want to use.

[2019-02-05 23:06] Mitch981521 commented on #18
I just figured it out....I wasn't changing the IP address for the UCdevice in RobotStudio (I just assumed that only the ROB_# addresses needed changing).  I will make note of the firewall being a potential source of issues.

[2019-02-16 03:15] Mitch981521 commented on #15
Does anyone know if it is possible to be able to use both a EGMControllerInterface instance and EGMTrajectoryInterface instance in the same program?  We are trying to use EGM to have our robot move to fixed positions but also perform feedback control in the same execution.  The problem we are running into is that it appears that RobotStudio only allows one port for external communication.  Is it p

[2019-02-16 16:49] gavanderhoorn commented on #15
@Mitch981521: please post this as a separate issue. While it's related, your question is actually different from what the OP here (@mitch1044444) asked, which was whether velocity control is supported. Your issue is about support for concurrent use of two classes that are related, but at a different level.

[2019-02-16 18:21] danielj195 opened #30 "Support for two different classes"
I was wondering if it is possible to concurrently use the egmControllerInterface and egmTrajectoryInterface classes in the same program.  Robotstudio only allows one port per robot, and I'm not sure if it's even possible for more than one socket to connect to the same port.  Any help would be greatly appreciated!

[2019-02-18 16:33] jontje commented on #30
### Answer
Yes, it is possible to use multiple instances of the interface classes in the same program. The only requirement is that each instance binds to a separate port number.

On the robot controller side, you need to add the corresponding `Transmission Protocol` instances in the `System Configuration`. You can do this via RobotStudio:
* Controller tab -> Configuration -> Communication -> Tran

[2019-02-18 17:35] danielj195 opened #31 "Joint Velocity Control doesn't track Constant Velocity"
We are wanting to use EGM to perform velocity control to move our robot to a designated position.  The problem we are running into is that the robot does not maintain the desired velocity for the entire duration of the movement.  If you change the reference velocity in the code @jontje provided to a constant (code provided below), the robot will move for only a few seconds and then stop, rather th

[2019-02-18 17:41] danielj195 commented on #30
@jontje Thank you for the response!  Do you know if there will be any future versions of this library that will allow for concurrent use of these classes?

[2019-02-18 20:46] gavanderhoorn commented on #30
(as this is not an issue with the library in this repository I'm closing this to keep the tracker clean and focus on actionable items/actual bugs: do please feel free to keep commenting on it @danielj195).

[2019-02-18 20:46] #30 closed

[2019-02-18 20:48] gavanderhoorn commented on #31
@danielj195: just as on ROS Answers, I'd like to ask you to *not* post screenshots of code, but instead copy-paste it into the issue itself. Be sure to use three backticks to format everything properly.

Thanks.

[2019-02-18 22:26] Mitch981521 commented on #31
My apologies.  For the above question, here is my code from my EGM file:

'''
#include <ros/ros.h>
#include <abb_libegm/egm_controller_interface.h>

int main(int argc, char** argv)
{
  //----------------------------------------------------------
  // Preparations
  //----------------------------------------------------------
  // Initialize the node.
  ros::init(argc, argv, "joint_velocity_control

[2019-02-18 22:36] Mitch981521 commented on #31
My apologies...here is the code corresponding to my question.

EGM Code:

[code]

RobotStudio Code:

'''
MODULE test_egm
    !======================================================================================================
! Copyright (c) 2018, ABB Schweiz AG
! All rights reserved.
!
! Redistribution and use in source and binary forms, with
! or without modification, are permitted provided t

[2019-02-19 08:30] jontje commented on #31
To be able to use pure velocity control, then you need to set the EGM client's position correction gain to zero. You do this by adding the `\PosCorrGain:=0` parameter to the RAPID `EGMRunJoint` instruction. Otherwise the EGM controller (inside the robot controller) could try and follow conflicting goals.

I wouldn't use a number larger than the lowest max joint speed specified in the robot's data

[2019-02-19 09:14] jontje commented on #30
@danielj195 You are welcome.

No, there are no such plans for using two interfaces, at the same time, with a single robot. It wouldn't really make sense due to how EGM communication works. It would be more appropriate to expand one of the existing interfaces (or implement a new type of interface) with the desired features.

Also, as it is now, then you can use two interfaces with two separate robo

[2019-02-19 17:21] Mitch981521 commented on #31
Thank you very much!  I'm glad it was just having to change a parameter.  Good to hear that it works for ROS melodic.

[2019-02-21 12:53] jontje opened #36 "Add checks for overflow/underflow"
For example in the sample time estimation done in the `EGMBaseInterface::InputContainer::estimateSampleTime()` method in [egm_base_interface.cpp](https://github.com/ros-industrial/abb_libegm/blob/master/src/egm_base_interface.cpp)

[2019-02-21 16:09] gavanderhoorn commented on #19
Now that #32 has been merged we can close this one.

[2019-02-21 16:09] #19 closed

[2019-02-21 16:09] gavanderhoorn commented on #20
@jontje: this should now be possible with the merge of #32 right?

[2019-02-22 10:02] jontje commented on #20
Yes it is

[2019-03-04 12:45] jontje opened #38 "Improve state management in EGMTrajectoryInterface"
The internal states that [EGMTrajectoryInterface](https://github.com/ros-industrial/abb_libegm/blob/master/include/abb_libegm/egm_trajectory_interface.h) can be in is:
* Normal trajectory execution
* Ramping down current references
* Tracking a static goal

Right now, it can be a bit difficult to follow how the states and sub states are changed and this can be simplified.

[2019-03-04 12:51] jontje opened #39 "Add feedback to user interaction for EGMTrajectoryInterface"
The following user interaction methods for [EGMTrajectoryInterface](https://github.com/ros-industrial/abb_libegm/blob/master/include/abb_libegm/egm_trajectory_interface.h) should return feedback to the user, so that it is clear if the interaction was accepted or not:
* `addTrajectory(...)`
* `stop(...)`
* `resume(...)`
* `updateDurationFactor(...)`
* `startStaticGoal(...)`
* `setStaticGoal(...)`
*

[2019-03-14 23:29] rsaltus commented on #18
I'm also having issues with implementing the sample code. Our setup is a Windows machine running RobotStudio connected via ethernet to a router, and a Linux Ubuntu machine running Ubuntu 14.04 and ROS Indigo as our EGM server. The router is connected to the internet via Ethernet. A brief explanation of the procedure undertaken:

Setup Procedure:
1. Imported the Pack&Go file into RobotStudio using

[2019-03-15 01:31] danielj195 commented on #18
It looks like you've covered most of the things I would've guessed.  We are using Ubuntu 16.04 and ROS kinetic and were able to get ours to work.  I would disable firewall features on both computers, just for good measure.  In what directory are your compiled protobuf files?  I had to manually compile mine as well and placed them in the include directory, which is where I think they need to go

[2019-03-15 12:11] jontje commented on #18
@rsaltus, can you retry with this [EGMSamplesSolution Pack&Go.zip](https://github.com/ros-industrial/abb_libegm/files/2970819/EGMSamplesSolution.Pack.Go.zip) file instead?

This Pack&Go is based on RobotWare 6.08, and I can run the samples from the zip-file above with the current version of abb_libegm.

Also, at which RAPID instruction does the error appear?

I hope this helps!

[2019-03-15 15:56] rsaltus commented on #18
Thanks for your speedy replies, @danielj195 and @jontje. The original error was appearing at the "EGMSetupUC" line. However, I tried the new Pack&Go file this morning and it connects fine, and works as intended. So I think the old RobotWare Pack&Go was causing the problem.

Thank you both for your help.

[2019-03-16 09:10] AbdelrhmanBassiouny opened #41 "Restarting EGM Session properly"
Hi,

I am trying to implement a continuously running system that controls the robot on RobotStudio, that can also mitigate automatically from  RobotStudio runtime errors like **Dynamic Load** and **Joint Out Of Range** without me having to manually restart the system or code.

I am currently using two ros nodes:
**The First** one using **abb_librws** with **State Machine Add-in** to restart motion

[2019-03-18 09:31] jontje commented on #41
Hi @BidoMan,

You shouldn't need to restart the ROS nodes.

**Regarding recovery behaviour:**
I am assuming that you are using the [RWSStateMachineInterface](https://github.com/ros-industrial/abb_librws/blob/master/include/abb_librws/rws_state_machine_interface.h) class of abb_librws.

How does your code look like for restarting the RAPID program?

Something like this works fine for me  when I for

[2019-03-18 22:37] BidoMan commented on #41
I'm using **EGMTrajectoryInterface**.

I solved the problem by adding a delay after each motion command by about 1 second and adding a delay of 0.01 seconds after each communication request, it appears that it was a synchronization problem between my **abb_librws node** and the Rapid code using the **StateMachine Add-in**, that caused motion to be executed at the wrong time (giving Dynamic Load),

[2019-03-19 11:49] jontje commented on #41
Ok, good that you solved it.

And just to let you know, then PR https://github.com/ros-industrial/abb_libegm/pull/40 will improve the internal management of the **EGMTrajectoryInterface** class. One of the changes makes the interface to discard all pending trajectories when an active EGM session is closed or when an error is detected in the session. This basically results in the same behaviour as

[2019-03-22 17:56] Thompson104 opened #42 "EGM read joint angle always 57 times larger"
Hi All,

We were using the EGM to do real-time control and want to move the robot 4th joint, for example, from 0 degree to 30 degree. The simulation on robot studio works just fine. However, the joint angle reading changes from 0 to 1710, instead of 0 to 30, when we run the experiments on the real robot. We tested all the joints and the angle reading almost always has to be divided by 57 to get a

[2019-03-22 17:57] gavanderhoorn commented on #42
Which version of RobotWare do you have installed on the controller?

And which version of `abb_libegm` are you using?

[2019-03-22 18:00] Thompson104 commented on #42
@gavanderhoorn Thank you for your quick response. We were using the 6.06 robotware and I believe we have the most recent abb_libegm.

[2019-03-22 18:00] gavanderhoorn commented on #42
That would be the problem then.

[2019-03-22 18:02] Thompson104 commented on #42
Oh man, thank you. Previously the abb_libegm does not work with robotware versions earlier than the 6.07. I didn't notice the update.

Thank you.

[2019-03-22 18:02] Thompson104 commented on #42
We will be testing the robot now to see if works.

[2019-03-22 18:02] gavanderhoorn commented on #42
Closing this as it would seem to be a user configuration issue.

[2019-03-22 18:02] #42 closed

[2019-03-22 18:03] gavanderhoorn commented on #42
@jontje: would there be some way we could add some sort of version detection to `abb_libegm` to prevent situations like this?

With `abb_librws` that would probably be possible, but with just `abb_libegm`?

[2019-03-23 17:57] Mitch981521 commented on #7
Has this issue been resolved?  I'm using a catkin workspace and am having issues with the protobuf header files.  The compiler shows the files being compiled, but for some reason they are not able to be found.  Any help would be greatly appreciated.
![egm_issue1](https://user-images.githubusercontent.com/47331522/54869761-3f477d80-4d6b-11e9-9c98-91b6077e249b.png)
![egm_issue2](https://user-images.

[2019-03-23 18:16] traversaro commented on #7
Hi @Mitch981521 , there is a PR that should solve this open at https://github.com/ros-industrial/abb_libegm/pull/23 , but it still needs to be merged in the `master` branch.
If you want, you can try to apply the same change (that is quite minimal) in your local copy of the repo and see if that fixes your problem.

[2019-03-23 18:47] Mitch981521 commented on #7
@traversaro , is there a certain place in CMakeLists where I should place that?  I just placed it in the installation section where everything else is being installed, but I'm still having the same issue.  A colleague of mine hasn't had any issues with these proto files, so I'm also wondering if there is something wrong with ROS on my computer

[2019-03-24 17:45] gavanderhoorn commented on #7
@Mitch981521: could you please not post screenshots of terminal text? There is no reason to use images for that, it's all text. Please just copy-paste the text from the console into your comment.

[2019-04-11 10:47] gavanderhoorn commented on #38
Can we close this one @jontje, or is there still more work to do here?

[2019-04-11 10:47] gavanderhoorn commented on #39
Can we close this one @jontje, or is there still more work to do here?

[2019-04-11 10:49] gavanderhoorn commented on #11
@jontje: not sure, but I believe this one can be closed looking at:

https://github.com/ros-industrial/abb_libegm/blob/a278b7b580f0e2006a9c3c1b1e07dcff9552aef6/proto/egm_wrapper.proto#L126

[2019-04-11 10:51] gavanderhoorn opened #44 "Investigate compatibility of build scripts with Windows"
Promoting https://github.com/ros-industrial/abb_libegm/issues/17#issuecomment-421624204 by @traversaro to this issue:

[2019-04-11 10:52] gavanderhoorn commented on #17
@traversaro: tracking potential Windows blockers in #44.

[2019-04-11 10:53] gavanderhoorn commented on #17
@jontje: "expand the readme" is essentially an unreachable goal :) We can always expand it further.

Would it make sense to close this issue and open new ones if/when additional updates/extensions to the readme are needed?

[2019-04-11 10:57] traversaro commented on #44
Related documentation from the ROSOnWindows project: https://ms-iot.github.io/ROSOnWindows/Porting/Cookbook .

[2019-04-11 11:08] gavanderhoorn commented on #44
`abb_libegm` is not a ROS package necessarily, but it's a nice checklist.

[2019-04-11 11:15] jontje commented on #42
It should be possible to detect if proto fields introduced in the new EGM protocol is missing or not, I will investigate.

[2019-04-11 11:21] #7 closed

[2019-04-11 11:27] jontje commented on #38
Solved by https://github.com/ros-industrial/abb_libegm/pull/40

[2019-04-11 11:27] #38 closed

[2019-04-11 11:30] jontje commented on #39
Solved by PR https://github.com/ros-industrial/abb_libegm/pull/40

[2019-04-11 11:30] #39 closed

[2019-04-11 11:32] jontje commented on #11
@gavanderhoorn: Yes, it can be closed, thanks for the reminder! 👍

[2019-04-11 11:32] #11 closed

[2019-04-11 11:52] jontje commented on #17
@gavanderhoorn: Yes, I fully agree, I will close this.

[2019-04-11 11:52] #17 closed

[2019-04-17 21:27] danielj195 opened #45 "Trouble Connecting to Robotstudio"
I'm having issues getting abb_libegm to connect to both robotstudio and the robot. I've tried several things to try to remedy the issue.  Here is a list of items that I verified before posting here:

- -Made sure IP addresses are in same domain
- -Compiled .proto files using protobuf compiler (version 2.6.1)
- -Performed a clean catkin compile before trying to run code
- -Made sure that Configurat

[2019-04-18 06:30] gavanderhoorn commented on #45
If you receive any specific error messages it would be good to show them.

[2019-04-18 16:18] danielj195 commented on #45
yeah we were able to ping.  The error was "No data from the UdpUc" in robotstudio.  We figured it out though...our robotstudio program was robotware 6.06, which is not compatible with EGM.  Thanks for getting back to me

[2019-04-18 16:23] gavanderhoorn opened #46 "Investigate version detection of EGM protocol"
With the requirement of using at least version `6.07.01` of RobotWare in #32, we've had a few reports of users running into issues when trying to use an older version of RW (see #42 and #45).

It would be good if `abb_libegm` supported some sort of version check, as this could help us print an error message if/when an incompatible version is being used.

[2019-04-18 16:24] gavanderhoorn commented on #45
Ah.

I've just opened #46 to track the issues with older RWs and `abb_libegm`.

Thanks for reporting back.

[2019-04-18 16:24] #45 closed

[2019-04-18 16:24] gavanderhoorn commented on #42
Tracking version checking in #46.

[2019-04-30 06:23] geohn commented on #18
@jontje thanks for your help , i want to implement the interpolator method of this C++ code on matlab , but i dont know what's actual defferents between  the two viriables  ‘sample_time’ and 'condition_duration'
Thanks sincerely!

[2019-04-30 08:59] jontje opened #47 "Question: Meaning of ‘sample_time’ and 'condition_duration' in EGMInterpolator class?"
Moved question asked by @geohn in issue https://github.com/ros-industrial/abb_libegm/issues/18#issuecomment-487833062 to a new issue.

The [EGMInterpolator](https://github.com/ros-industrial/abb_libegm/blob/master/include/abb_libegm/egm_interpolator.h) class has the following subclasses for calculating interpolations:
* [SplinePolynomial](https://github.com/ros-industrial/abb_libegm/blob/master/in

[2019-04-30 09:04] jontje commented on #18
@geohn, your question is unrelated to the topic of this issue, so I have moved it to issue https://github.com/ros-industrial/abb_libegm/issues/47.

In the future, please open a new issue instead 😉

[2019-06-02 13:03] ChunyangXia commented on #15
Hi, Do you know how to set up the instructions in RAPID to  receive  the change of velocity from C++.
Please help me .Thank you very much!

[2019-06-03 05:46] ChunyangXia commented on #15
@jontje Can you share your PARID code that set up the EMG for changing velocity realtime. This will very helpful. Hope to get your help

[2019-06-03 06:10] jontje commented on #15
Hello @ChunyangXia,

You should be able to use the RobotWare [StateMachine Add-In](https://robotapps.robotstudio.com/#/viewApp/7fa7065f-457f-47ce-98d7-c04882e703ee).

You can install it via RobotStudio --> Add-Ins tab --> search for StateMachine --> press Add.
Then you can create a new RobotWare system that uses the Add-In. If you do, then the new system will include RAPID code and system configur

[2019-06-03 12:28] ChunyangXia commented on #15
@jontje Hi Jontje,
Thanks for your help. Is there any example program or demo for using the "abb_libegm" library. I am not very clear how to use it. Thanks again

[2019-06-03 12:30] gavanderhoorn commented on #15
Please refer to #18.

[2019-06-04 05:36] ChunyangXia commented on #15
@jontje
Thanks for your help. After setting PosCorrGain=0, the velocity can be controled realtime, but the movement lose control, robot will go along X direction until safe guard stop. Do you know why? How to regulate the path of movement under this situation. The following is my RAPID. Thanks again

MODULE EGM_test_UDP

    VAR egmident egmID1;
    VAR egmstate egmSt1;

    CONST egm_minmax egm_m

[2019-06-04 06:50] gavanderhoorn commented on #15
@ChunyangXia: let's not keep commenting on an already closed issue.

Please open a new one.

[2019-06-04 19:01] jbeck28 opened #48 "Robot Executes Only Part of TrajectoryGoal"
I've included modified parts of the code given in the sample code (names a1_joint_trajectory_node.cpp, and corresponding RAPID program). The problem I'm having is that the robot only seems to execute the first point or two of 9 in the trajectory. I'm wondering if there is a maximum number of points that should be in each of the abb::egm::wrapper::trajectory::TrajectoryGoal objects? If not, any ide

[2019-06-05 20:15] jbeck28 commented on #48
This was correct (much to my surprise) by explicitly setting the joint angles rather than having the inner for-loop. For example:

`for(int i = 0;i<trajArray.size();i++){
			p_point = trajectory_1.add_points();
			if(i == 0) p_point->set_reach(true);

			//std::cout << trajArray[i].time_from_start.toSec()-prevtime<< " duration" << std::endl;
			//p_point->set_duration(2.5);
			p_point->set_duratio

[2019-06-10 00:55] lIlIlI1 opened #49 "EGM frequency"
Hi @jontje , I have a question about EGM frequency.

So, I'm using this library with IRB 4600, and I tried to print out the time it took to get new data from the robot both using real robot and RobotStudio. Since I used your sample codes, I'll just put the codes that are related to this issue here:

[code]

It turns out in RobotStudio, it takes about 0.016s, and 0.025s when working with the real r

[2019-06-10 08:41] jontje opened #50 "Movement lose control"
New issue for @ChunyangXia's question from https://github.com/ros-industrial/abb_libegm/issues/15#issuecomment-498528184.

I.e.:

@ChunyangXia, did you manage to solve this? I have been out of office and just got back today.

I did a quick test with RobotStudio simulations, and since I don't know your setup I just used the following:

- RobotStudio:
  - RobotWare 6.08.01
  - An IRB1600 robot
  - Y

[2019-06-10 13:47] jontje commented on #48
Hello @jbeck28, I have been out of office and just got back today.

I tested your original code, and the problem was that you only created a single point in the EGM trajectory. I.e. ` p_point = trajectory_1.add_points();` was outside the outer loop.

In your second comment, I see that you have moved the creation of EGM points into the loop, which is why it works and that's how it should be.

Also,

[2019-06-11 01:37] ChunyangXia commented on #50
@jontje Thank you. The robot don't move along the trajectory in program. It move along y axis util security guard stop. The program I used is [EGM slider](https://github.com/orjanmehre/EGM-Slider), and I add velocity control code in it, and set PosCorrGain=0 in rapid:
            EgmSpeedRef.Builder s1 = new EgmSpeedRef.Builder();
            EgmCartesianSpeed.Builder s2 = new EgmCartesianSpeed.Bu

[2019-06-11 06:56] jontje commented on #50
@ChunyangXia, aha, I see.

The problem is that you have set that the EGM references should be relative to the `wobj0` work object.

I assume that you actually want to use the work object `wobjBordN` that you have defined in the top of the RAPID module, which is rotated -90 degrees around the z-axis compared to `wobj0`.

You need to replace this:

`EGMActPose egmID1\Tool:=UISpenholder \WObj:=wobj0,

[2019-06-13 14:41] gavanderhoorn opened #51 "Add contribution guidelines"
In order to streamline community contributions, we need to add contribution guidelines.

This would be similar to #13, but specific to this repository.

[2019-06-13 15:04] jontje commented on #49
Hello @lIlIlI1,

The [EGMControllerInterface](https://github.com/ros-industrial/abb_libegm/blob/master/include/abb_libegm/egm_controller_interface.h) assumes that the user always wants to send a command back to the robot, after a message has been received. This means that the inner loop is waiting for the user to call the [write(…)](https://github.com/ros-industrial/abb_libegm/blob/master/include/

[2019-06-19 14:07] jbeck28 commented on #48
Thank you very much for your reply! You comment regarding add_points() makes sense. I wasn't entirely sure what I was doing... (hah).

I'm  have another problem with my code, which is that the robot tends only to execute less than half the trajectories I send. In particular to tends not to do anything when there a large angular change in joint 6. Should I open a new issue, or is this related enoug

[2019-06-20 13:20] jontje commented on #48
You are welcome 😃

Hm, I just tested your code with a dummy trajectory that moves joint 6 several times (with a max deviation of about 300 degrees). See [RobotStudio recording.zip](https://github.com/ros-industrial/abb_libegm/files/3310441/RobotStudio.recording.zip).

It went fine for me, but I am using the [StateMachine Add-In ](https://robotapps.robotstudio.com/#/viewApp/7fa7065f-457f-47ce-98d7-

[2019-06-20 13:30] jbeck28 commented on #48
Hmm, that's promising, and probably indicates I've done something wrong while setting up the RAPID side of this code. I essentially copied the TRob1Main.mod from your example code which was provided in a different issue thread. I guess I'm not entirely sure how to make use of the state machine add-in. I do have it installed, however. What RAPID code did you use when testing my code if you don't mi

[2019-06-20 13:39] jontje commented on #48
You can look at the Add-In's [User Manual](https://robotapps.blob.core.windows.net/appreferences/docs/2093c0e8-d469-4188-bdd2-ca42e27cba5cUserManual.pdf). There are instructions there for how to install a new system that includes the Add-In.

I used the RAPID code that is automatically loaded by the Add-In during system installation. I only changed the `DEFAULT_MAX_SPEED_DEVIATION` constant in the

[2019-06-20 14:31] jbeck28 commented on #48
hmm, I now see those modules loaded in my controller (though I'm not sure how to locate them from robotstudio). I apologize for how simplistic a question this is, but I don't see how to actually run those modules, as they have no main. do I still need to have some sort of RAPID module that has a main, and uses those processes defined in the module TRobEGM_single?

[2019-06-20 15:04] jontje commented on #48
The Add-In should have loaded these modules:

![StateMachine RAPID modules](https://user-images.githubusercontent.com/16589371/59859073-628ac480-937c-11e9-88f5-3e08fdd910eb.PNG)

The TRobMain module contains the RAPID main procedure, and after starting the program, then it will wait for a trigger from an IO-signal before calling the procedures defined in the other modules.

See the **RobotStudio S

[2019-06-21 13:13] AbdelrhmanBassiouny opened #53 "Clear Server Buffered Messages"
I tried a lot of different trajectories each with different velocities and number of points, the robot doesn't start motion until after a certain number of messages(always between 70 to 80).

I tried a very simple solution to add 70 points with zero velocity before the actual trajectory points, and the number of messages before starting robot motion increased by 70, so it seems to be aware of the

[2019-06-23 15:41] BidoMan commented on #53
I have found the cause, it seems when the Rapid command EGMRunJoint is executed the controller starts sending messages immediatly and these messages if not recieved by the c++ egm controller interface like this:
Server.wait_for_message()
Server.read(&Input)
the messages will aggregate in a buffer(with a limited size) and i have to read all those previous messages before i get the most recently sen

[2019-06-24 22:20] BidoMan commented on #53
I found another, which is to make sure that the EGM Server starts first and be waiting for the client, then run the EGMRunJoint command in the rapid code, this will ensure synchronization from the begining.

I was doing the opposite, i first run EGMRunJoint (using RWS library) with EGMSetupUC having a very large "comm_timeout", then start the egm server, this will surely recreate the problem.

I t

[2019-06-25 06:32] jontje commented on #53
Hi @BidoMan,

FYI: I am already on my vacation, but here are a few thoughts before my mind completely enters holiday mode ✈️🌞

All interface classes are using a boost asynchronous UDP socket for receiving/sending EGM messages. The socket is created during instantization in [egm_udp_server.cpp](https://github.com/ros-industrial/abb_libegm/blob/master/src/egm_udp_server.cpp#L56-L74).

One idea could

[2019-06-25 10:36] BidoMan commented on #53
Hi @jontje
I hope you enjoy your holiday, thank for your response.
And yes, i think adding it to the readme will be great.

[2019-07-29 20:13] jbeck28 commented on #48
Since last posting I have gotten the trajectory interface to work reasonably okay. However, after calling p_point->set_reach(true) for each point in the trajectory, the robot seems to briefly stop at each point. I'm also curious if the durations, velocities and accelerations have any impact on execution when using trajectory_interface?

jontje, your last post over a month ago was a massive help, I

[2019-08-02 10:37] jontje commented on #48
Durations, velocities and accelerations affect the interpolation calculated in [egm_interpolator.cpp](https://github.com/ros-industrial/abb_libegm/blob/master/src/egm_interpolator.cpp). For example, see [L120-L279](https://github.com/ros-industrial/abb_libegm/blob/master/src/egm_interpolator.cpp#L120-L279) for polynomial (used for joints and linear values) and [L349-L382](https://github.com/ros-in

[2019-08-06 01:40] Mitch981521 opened #54 "EGM Loses Connection"
I know you guys are busy people, but this issue is somewhat urgent.  I'm having an issue with getting EGM to maintain a connection with the physical robot.  I am using the sample RobotStudio code and a modified version of the C++ code, which has worked on the robot our group has purchased.

We are now testing EGM on an older model (IRB 4600)...the robot is orange if that description helps.  Our te

[2019-08-06 06:20] gavanderhoorn commented on #54
First thing: version of RobotWare, StateMachine addin and `abb_libegm` and `abb_librws`.

[2019-08-06 15:42] danielj195 commented on #54
We have RobotWare 6.08, which should work right?  Our CPU version is DSCQ1000, not DSCQ1080 so does that make a difference?

Is the StateMachine Add-in 100% necessary for EGM to function?  I do not remember having to install this on newer model of robot we had, so does it maybe come pre-installed?

[2019-08-06 23:09] danielj195 commented on #54
We were able to run Wireshark on our connection.  The 192.168.125.1 IP address is the controller service port and the 192.168.125.17 IP address is the external computer.  As seen in the screenshot, it appears that the controller and computer are successfully sending/receiving UDP messages.  The external computer then suddenly begins to reply with a message of the incorrect protocol (ICMP), at whic

[2019-08-07 07:14] gavanderhoorn commented on #54
From the screenshot it would seem that your PC has closed the UDP port, and that it's telling the controller that it should stop sending packets to that port.

The controller is then doing what it's supposed to: stop sending EGM packets.

You'd have to figure out *why* the PC closes the UDP port.

this doesn't tell us anything: which specific commit are you using?

[2019-08-07 15:20] danielj195 commented on #54
We were using the latest commit...I pulled it fresh off of github.  I will add that we were able to successfully move to a joint position a single time, but then when we tried it again it began to have the connection issues.

Also, whenever we restart controller and get the "RAPID execution state UNDEFINED" in yellow text and try to restart the EGM program on the teach pendant, we always get the e

[2019-08-07 17:42] gavanderhoorn commented on #54
Apologies for asking again, but please be specific: which hash?

Future readers will not know what "the latest commit" was/is and neither will we.

[2019-08-07 17:50] danielj195 commented on #54
That's my fault hash 13eee74

[2019-08-08 11:54] jontje commented on #54
I assume you are using the code from https://github.com/ros-industrial/abb_libegm/issues/18#issuecomment-473262645, is that correct? Which of the examples are you using? E.g. joint or pose motion? Position or velocity motion?

I think the main issue is due to the RAPID code from the examples has not been extensively tested/verified.

Since you have RobotWare 6.08, then the CPU version shouldn't ma

[2019-08-08 16:18] danielj195 commented on #54
We had modified the C++ sample code and made our own class, which was working on the robot we have in our lab.  The modified code we made was giving the above error on this other robot we have been having issues with.  We also tested the exact EGM sample code and got the sample issues.  We were testing the c1_joint_controller_node file.

I do not think the issue is a hardware issue as I was thinki

[2019-08-08 16:48] Thompson104 commented on #54
@danielj195 Could you please post the RAPID program here?

[2019-08-09 07:22] jontje commented on #54
No, the StateMachine Add-In is a **RobotWare Add-In** and not a **RobotStudio Add-In**. The former is a way for adding e.g. RAPID code to a robot system from the get-go after system installation. The latter is for expanding RobotStudio itself with custom functionality.

If the StateMachine Add-In is included during the robot system installation, then the Add-In inspects the available RobotWare opt

[2019-08-13 16:07] danielj195 commented on #54
@Thompson104 Here is the RAPID code that we've been using.

`MODULE test_egm
    !======================================================================================================

    !***********************************************************
    ! Program data
    !***********************************************************
    ! Home position.
    LOCAL CONST jointtarget home := [[0, 0,

[2019-08-23 03:47] ejbkdb commented on #54
This issue was able to be resolved by implementing jontje's code modification. The original egm example had EGMGetId egm_id; & EGMReset egm_id; inside the while loop (see danielj195 rapid code). This led to unnecessary reassignment of the egm_id. On our controller once egm_id was reset it would drop the udp connection. Moving  EGMGetId egm_id; & EGMReset egm_id; outside of the while loop resolved

[2019-08-26 02:23] ejbkdb opened #55 "can't build abb_libegm_samples"
I'm having difficulty building the abb_libegm_samples from: [issue 18](https://github.com/ros-industrial/abb_libegm/issues/18#issuecomment-457592204)

I downloaded a protoc executable from: [link](https://github.com/protocolbuffers/protobuf/releases/tag/v3.6.1), copied it to /usr/bin and chmod +x protoc so it would run, I was able to build abb_libegm. I was not able to experience the same success

[2019-08-26 05:40] #55 closed

[2019-08-26 05:42] ejbkdb commented on #55
I reinstalled ubuntu, ros, ros-industrial, abb stack, abb_libegm, and protoc, and was successfully able to build the library. Maybe I had a protoc conflict???

[2019-08-26 06:43] jontje commented on #55
Great that you solved the issue.

That was my initial thought when I read your issue. It's best to have the same version of `libprotobuf` and the `protoc` compiler.

[2019-08-26 11:32] gavanderhoorn commented on #55
If you're using Ubuntu, I'd recommend installing the `protobuf-compiler` package. That will correspond to whichever version of `libprotobuf` you have installed on your system and should avoid the issues reported in the OP.

Downloading binaries from Google's site is nice, but seeing as there is a relatively tight dependency between compiler and library, not always a good idea.

[2019-08-26 11:33] gavanderhoorn commented on #54
Seeing as this appears to have been resolved, I'm going to close this.

Feel free to keep commenting here of course.

[2019-08-26 11:33] #54 closed

[2019-08-26 11:34] gavanderhoorn commented on #49
Closing due to inactivity.

[2019-08-26 11:34] #49 closed

[2019-08-26 11:34] gavanderhoorn commented on #50
Closing due to inactivity.

[2019-08-26 11:34] #50 closed

[2019-08-26 11:35] gavanderhoorn commented on #53
@jontje: would you want to create a separate issue to track the desired addition to the readme you mention?

[2019-08-26 11:36] gavanderhoorn commented on #47
@jontje: is this something actionable? Or can we close this?

[2019-08-26 11:36] gavanderhoorn commented on #48
Assuming this is now resolved, I'm closing this.

@jbeck28: if you're still having trouble getting things to work, please clarify and re-open.

[2019-08-26 11:36] #48 closed

[2019-08-26 11:39] gavanderhoorn commented on #3
Similar rationale as given in https://github.com/ros-industrial/abb_librws/issues/3#issuecomment-524293238:

 - ROS 2 use
 - Colcon
 - (easier/better) Windows compatibility
 - `catkin_tools` for ROS 1

[2019-08-26 13:16] traversaro commented on #3
Update version of a pure CMake build system available at https://github.com/traversaro/abb_libegm/commit/a8b79d62d5dc996b7901025323378411c0e1311f .
The only feature missing w.r.t. to the catkin build is the `pkgconfiig` configuration file generation, is that something you are interested in?

[2019-08-26 15:35] gavanderhoorn commented on #54
Please post this as a separate issue so we can track it.

Both @jontje and me are rather busy the next few weeks, and an issue would make sure we don't forget about your request.

[2019-08-26 15:37] danielj195 opened #56 "Update Sample Code"
This issue is in regards to updating the sample code to fix the EGM connection issues that were described in issue #54 .  Thanks

[2019-08-28 18:28] jbeck28 opened #57 "Controlling External Axis and Robot"
I have a bottom-mounted servo (M7DM1), which I'm hoping to control at the same time as the robot arm via EGM. I'm curious if this is possible, and if so what modifications (if any) would need to be incorporated in the state machine to allow such functionality?

Thanks in advance,
Josh

[2019-08-28 18:31] gavanderhoorn commented on #57
Yes, starting with recent RWs this is supported. I've discussed setups like this with @jontje recently.

Each mechanism essentially requires one EGM session IIRC.

[2019-08-30 06:25] jontje commented on #57
Last time I tested controlling an external axis and a robot at the same time with EGM was in RobotWare 6.07. At that time, it required a separate RAPID motion task for each mechanical unit. Then, as @gavanderhoorn mentioned, it required an EGM session in each of those motion tasks (controlling the respective mechanical unit).

More or less everything from the TRobEGM module can be reused, as well

[2019-09-02 12:30] #51 closed

[2019-09-10 14:39] Thompson104 opened #58 "Questions regarding the joint control rate"
Hi All,
I know the Robot runs at 250 Hz. But I wonder how long is the duration of the motion if I just send **one** joint velocity command to the robot,? For example, If I want to let one joint rotate at 0.1rad/s and I just send one command, is the total angular rotation angle be 0.1*0.004? I know perhaps I can do the experiment. But I'm afraid I still need your suggestions. Thank you.

The rapid

[2019-09-11 04:30] lijianhualeigua opened #59 "EGM state change error"
Hi, everyone:
I always get the error " EGM state chang error",  when runing the EGM in RobotStudio.
We'd greatly appreciate any help with this issue!Thank you very much!

The  RAPID program  in here:

[code]

[2019-09-11 07:29] gavanderhoorn commented on #59
@lijianhualeigua: it's going to be a little while before we can assist you. Both @jontje and me are extremely busy the coming two weeks.

If a community member has an idea here, don't hesistate to comment.

[2019-09-13 18:33] jontje commented on #58
No worries, communication is usually prone to errors regardless of the situation (both human and robot cases included).

**Snippet from the manual:**

![EGM](https://user-images.githubusercontent.com/16589371/64885445-7c2e6600-d664-11e9-8413-5ff0c0e9ad56.PNG)

**Clarification attempt:**

- The **motion control box** corresponds to an inner task, inside the robot controller, that is always executed

[2019-09-26 13:04] gavanderhoorn commented on #58
I'm going to assume that @jontje answered the questions posted by @Thompson104 (with an extremely elaborate and informative answer, :+1: @jontje).

As such, I'm going to close this. That does not mean no further discussion can take place here. It just means there is nothing directly actionable here.

[2019-09-26 13:04] #58 closed

[2019-09-26 13:05] gavanderhoorn commented on #57
Due to no activity I'm going to close this.

As always: feel free to keep commenting on the issue.

We might want to see whether documenting a setup with an external axes makes sense @jontje, now that recent RWs start supporting this.

[2019-09-26 13:05] #57 closed

[2019-09-26 13:06] gavanderhoorn commented on #47
I believe @jontje answered a question posted in https://github.com/ros-industrial/abb_libegm/issues/18#issuecomment-487833062 here.

As such, this is not an actionable issue. Closing.

[2019-09-26 13:06] #47 closed

[2019-09-26 13:08] gavanderhoorn opened #60 "doc: clearify startup order implications and dealing with 'old' messages"
From https://github.com/ros-industrial/abb_libegm/issues/53#issuecomment-505305202:

[2019-09-26 13:08] gavanderhoorn commented on #53
Tracking in #60.

[2019-09-26 13:08] #53 closed

[2019-09-26 13:10] gavanderhoorn commented on #31
I'm going to close this, as it seems the (initial) question was answered and no further discussion has taken place.

Feel free to keep commenting on this issue of course if that makes sense.

[2019-09-26 13:10] #31 closed

[2019-09-26 13:11] gavanderhoorn commented on #41
Closing as the original issue seems to have been dealt with.

We can always re-open if required, and feel free to keep commenting on this issue.

[2019-09-26 13:11] #41 closed

[2019-10-09 17:37] gavanderhoorn opened #61 "Compatibility with RW 6.10"
I've ran into a controller that was updated to RW `6.10`.

The readme currently states that only <del>`6.07`</del> `6.08` has been tested, but are there any known incompatibilities between `abb_libegm` and RW `6.10`?

[2019-10-11 12:11] jontje commented on #61
I have only made a few brief tests with RobotWare `6.10`, and `abb_libegm` works as expected as far as I have seen.

[2019-11-11 10:11] jontje commented on #3
I have finally had some time to work on this issue, and I have created a [branch](https://github.com/jontje/abb_libegm/tree/plain_cmake) for converting the library into a plain cmake package.

I looked at your work @traversaro, but I opted for basing my initial work on a plain cmake package template from the `ros2 pkg create` command. Mainly because I wanted to learn and then also to be more inlin

[2019-11-11 11:39] traversaro commented on #3
Great, thanks a lot.

Basically the main advantage of using `write_basic_package_version_file`  is to have less hardcoded logic, and be able to easily switch between the version compatibility policies (for example  between same major versior or same minor version). However, if your version checking logic is custom, it is more convenient to use a custom file.

One of the major advantages is that if

[2019-11-11 12:03] jontje commented on #3
Thanks for the quick response and the clarifications! I think it's reasonable to wait for the PR, and I will probably do that tomorrow (I have a wall of meetings ahead of me today 😄)

[2019-11-13 15:31] jontje commented on #3
I have created the draft PR https://github.com/ros-industrial/abb_libegm/pull/63. I have tested the following situations:

- Ubuntu (ROS and ROS2)
- Windows (ROS)

@traversaro You are more than welcome to add your additional comments when you have time for it.

[2019-11-14 10:31] gavanderhoorn commented on #3
The new `master` branch of `industrial_ci` does support all of this, but I'm not sure how to configure things for builds of both ROS 1 and ROS 2 from the same `.travis.yml`.

@ipa-mdl: would you be able to provide some guidance here?

[2019-11-14 12:33] ipa-mdl commented on #3
Just use the `master` branch and add a new matrix entry for ROS2, e.g.
[code]

[2019-11-14 12:39] gavanderhoorn commented on #3
Nice, thanks. I'd expected something like that, but wanted to make sure.

[2019-11-22 01:55] lijianhualeigua opened #64 "The question about EGM parameters"
I viewer this answer  https://github.com/ros-industrial/abb_librws/issues/49 , and to test the EGM  parameters. I  find that whether  set PRG or PCG  to zero,  the will become the pure velocity control. Morever if you in pure velocity control, when you stop to send the targert velocity, the robot will continue the runing for a period of time , the value is equal the \CommTimeout of use EGMSetupUC

[2019-11-25 14:21] jontje commented on #59
Firstly, sorry for the slow reply! Secondly, is this still an issue? It looks like it comes from one of the examples found in issue https://github.com/ros-industrial/abb_libegm/issues/18.

Anyway, I have been working on some improved examples (for RobotWare `6.09` and newer) and it looks something like this:

[code]

I hope this might be of use although it's a bit late.

[2019-11-25 15:11] jontje commented on #64
My recommended way of stopping a running EGM motion, is to send motion references so that the robot come to a standstill, and then use the RAPID `EGMStop` instruction to stop the EGM communication in an orderly way.

Just to clarify, the `Proportional Position Gain` (found in the system configurations) requires a warmstart if changed, and the `Position Correction Gain` (of the RAPID `EGMRun` instr

[2019-11-26 03:31] lijianhualeigua commented on #64
Great, thanks a lot.

In the <<Technical reference manual RAPID instructions,Function and Datatypers.pdf >> i didnot to find this value. but in the <<System parameters RW .pdf>> i find the parameters ext_motion_filter_bandwidth (found in the system configurations) the default value is 20.0 Hz, so maybe you remembe is this default value, not the  parameters \LpFilter default value in EGMActJoint in

[2019-11-26 09:31] gavanderhoorn commented on #64
Even though this is an interesting discussion, I'm going to close the ticket: it's not reporting an issue with the package in this repository, and as such is more of a question.

That does not mean we cannot continue posting here @lijianhualeigua.

Please feel free to keep doing that.

(and the same for you of course @jontje ;))

[2019-11-26 09:31] #64 closed

[2019-11-26 09:32] gavanderhoorn commented on #61
Closing as it would seem there are no expected incompatibilities.

We can re-open when that turns out to be `false`.

[2019-11-26 09:32] #61 closed

[2019-11-26 09:33] gavanderhoorn commented on #46
With a wider range of RW 6 versions available now, the potential for unexpectedly running into an incompatible RW version has increased.

Have you had any time to look at how to implement some form of version detection @jontje?

[2019-11-26 12:57] jontje commented on #46
Not yet, but I have an idea of how to do it.

I have a couple minor PRs prepared after this one https://github.com/ros-industrial/abb_libegm/pull/63, and after that I am working on another related to `RW6.10`. I can investigate about version checking in that one.

[2019-11-26 13:42] jontje commented on #64
As far as I know they are affecting the same parameter in the end. Just that `\LpFilter` overrides the default value from the system configurations. From the manual (for the `EGMActPose` instruction):

Since the `EGMSetupXX` instructions uses the previously mentioned system configuration, then it should be like that.

You are correct, I just tried it out in RobostStudio and I was a bit surprised t

[2019-11-27 08:37] lijianhualeigua commented on #64
Great, thanks a lot. I really appreciate it.

You are correct, according my design experiment, i verification that \LpFilter overrides the default value from the system configurations. If the | \LpFilter didnot to set, then the system will use the value that set in system configurations. So in the  EGM controller only one low pass filter use to filter sensor noise.

[2019-11-27 08:40] lijianhualeigua commented on #59
Great, thanks a lot. I really appreciate it.
I will to try this improved method.

[2019-12-05 08:59] lijianhualeigua commented on #64
About the EGM controller, i have serveral question. When use the EGM  to following desire trajectory, in order to improve the performace, we need to change the Proportional Position Gain and set it as possible as to high. But i foud that if the desire trajectory is a high frequency and need moving a large distance in joint space or cartesian space, when i increase the proportional position gain to

[2019-12-05 22:02] jbeck28 opened #65 "Protobuf headers not found when compiling with CMI"
I'm trying to run catkin_make_isolated, and a package which depends on abb_libegm leads to:
[code]
Not sure how to fix!

Edit, one such example would be the egm samples package.

[2019-12-06 11:01] gavanderhoorn commented on #65
This is likely a build ordering issue due to the fact that those files are generated ([here](https://github.com/ros-industrial/abb_libegm/blob/142f5a526b5db2865fb88fca1775b4c84d8031bc/CMakeLists.txt#L28)) and CMake doesn't know that, so it cannot pass that information on to whatever build scripts it generates (be it `Makefile`s or something else).

This in turn causes `make` (if you're using that,

[2019-12-06 14:35] jbeck28 commented on #65
By chance, the `abb_libegm` is built before `abb_libegm_samples`. Forgive my ignorance, how would I go about building only `abb_libegm`, and then the rest of the workspace?

Also, to be clear, both packages build fine using `catkin_make`

[2019-12-06 14:50] gavanderhoorn commented on #65
I haven't checked or diagnosed, so my response above was just some thinking-out-loud after reading your OP.

This could also be another instance of #7 (PR: #23 and #43) or a problem with how we export the include directories in this package.

Are you using an `install` space with CMI?

[2019-12-06 14:57] gavanderhoorn commented on #65
It's likely a problem with how we export the include dirs.

In a build with `catkin_tools` (which works in ways similar to CMI), the protobuf headers are not located in a directory that is on the include path.

Could you try using an `install` space with CMI? I believe things should work then. That is not a solution, just a test.

---

Finally: can you tell me why you want to use CMI?

[2019-12-06 15:00] jbeck28 commented on #65
I wanted to use CMI because the latest version of opw_kinematics seems to require it. I also found a bunch of mistakes in my cmake files which were uncovered by CMI.

I'll do some reading on how to use an install space, I believe this:

https://catkin-tools.readthedocs.io/en/latest/verbs/catkin_config.html

provides the relevant information, right?

[2019-12-06 15:03] gavanderhoorn commented on #65
No, it doesn't. It's just that `catkin_make` cannot build workspaces with non-Catkin packages, which `opw_kinematics` is.

So using CMI is *one option*, but it's not a direct requirement.

`catkin_tools` can build mixed workspaces as well.

That would be the documentation for `catkin_tools`, not `catkin_make_isolated`.

You should just be able to run `catkin_make_isolated install`.

[2019-12-06 15:08] jbeck28 commented on #65
That makes sense about `opw-kinematics`, thank you for all the help!

However, I encounter the same problem when running `catkin_make_isolated --install`.

[2019-12-06 15:10] gavanderhoorn commented on #65
Ok, so the Catkin approach here would be to provide an `CFG_EXTRA`s file which exports the correct include path, depending on whether a `devel` or `install` space is used.

But seeing as we have #63 in the pipeline (which will do things differently anyway) I'm hesitant to start adding that.

I've just verified locally that using an `install` space results in the Protobuf generated headers getting

[2019-12-06 15:18] gavanderhoorn commented on #65
The issue could be these `#include` statements:

https://github.com/ros-industrial/abb_libegm/blob/142f5a526b5db2865fb88fca1775b4c84d8031bc/include/abb_libegm/egm_base_interface.h#L42-L43

they don't prefix the package name, and only `$install_space/include` is on the include path, *not* `$install_space/include/abb_libegm`.

As a quick work-around, you could prefix those `#include` lines with `abb

[2019-12-06 15:29] jbeck28 commented on #65
Few things:
1) I'd use `#include<abb_libegm/egm.pb.h>` rather than `#include "abb_libegm/egm.pb.h"` ?
2) I tried both and still had the same issue, though I only changed it on one of the header files in `abb_libegm`, though many of them have `#include "egm.pb.h"`.

I'm going to get fresh copies of `abb_libegm`, as there's a chance I broke something when messing with the `cmakelists.txt`.

Thanks a

[2019-12-06 15:43] gavanderhoorn commented on #65
it doesn't matter. There is a slight difference in lookup order, but in the end it will find the same files.

you'd have to chance it in all files that `#include` those headers.

I don't expect that to make any difference if you didn't change all files including those generated headers.

It would probably be the easiest workaround for now.

You could check [this tutorial](http://wiki.ros.org/catki

[2019-12-06 18:00] jbeck28 commented on #65
Your workaround worked perfectly. Can't thank you enough for your assistance!

[2019-12-09 14:07] jontje commented on #64
Which `RobotWare` version are you using? Have you tried `6.10`? There have been some improvements there that might help you. From the release notes:

The `abb_libegm` library has not yet been updated to expose the new` utilizationRate` field, but you can still use the library with a `RobotWare 6.10` system.

[2019-12-11 08:57] StevenNUS opened #66 "Egm_interface is not connected, always "wait for an EGM communication session to start......""
Hi All,

I am using the abb_libegm_samples on a real robot of ABB IRB360. I tried several examples in the samples. But it seems the egm_interface is not connected. It always showed that "wait for an EGM communication session to start", even though I have started the RAPID codes on the controller. I have successfully configured the transmission protocol in RobotStudio, which has tested on rpi_abb_i

[2020-01-13 12:52] shobhitcito commented on #18
I'm having some issues using the abb_libegm_samples provided by @jontje. I created the linux environment with protobuf & abb_libegm and can build my catkin workspace. But the catkin workspace gives error when I try to build it with abb_libegm_samples.

[error]
c++: fatal error: no input files
compilation terminated.
/bin/sh: 1: -pthread: not found
abb_libegm_samples/CMakeFiles/abb_libegm_samples_j

[2020-01-13 14:44] shobhitcito commented on #18
My problem got solved, thanks to the suggestion from @traversaro. I removed the line

list(APPEND CMAKE_CXX_FLAGS -pthread) from /abb_libegm/cmake/abb_libegm-extras.cmake.in

[2020-01-17 10:10] jontje commented on #66
Hi @StevenNUS,

Sorry for the slow reply! Your question came at an unfortunate timing due to end-of-year processes and vacation time.

FlexPicker robots are unfortunately not supported by the EGM interface (only six-axis and seven-axis robots are currently supported). The robot controller's event log should show a message for that.

Also, how did you get an EGM license for the IRB360 robot? I am j

[2020-01-19 15:32] traversaro opened #67 "Missing definitions of abb::egm::EGMControllerInterface::ControllerMotion::WRITE_TIMEOUT_MS and abb::egm::EGMBaseInterface::WAIT_TIME_MS"
When using a slightly modified version of `abb_libegm`, under some configurations (Ubuntu 18.04, Debug with Boost 1.69, Debug with standalone Asio) we experienced the following linking errors when linking an executable that linked `abb_libegm` we experienced the following linking errors:
[code]

After some investigations, we found that this was due to the fact that for these two attributes, the de

[2020-01-22 05:28] StevenNUS commented on #66
Hi @jontje,

Thanks for your reply. We sent a quotation to ABB@Singapore at around June 2019. We got the FlexPicker at around 15th Oct 2019. We saw there was an EGM option in the specifications. So we chose the EGM option. We have attended two days training from ABB. But they have not mentioned EGM. I have checked with the ABB engineer. He has not heard the EGM. So I came here to download the libr

[2020-01-22 08:57] gavanderhoorn commented on #66
@StevenNUS: could you perhaps copy the specific part about EGM from your specs here in a comment? We don't need a full copy, or a screenshot. It should just a single line.

I'd also be interested in how EGM got even mentioned in the context of FlexPickers.

[2020-01-22 12:27] gavanderhoorn commented on #3
Closing as #63 was merged.

Thanks for the support @ipa-mdl and thanks for contributing to the discussion @traversaro.

[2020-01-22 12:27] #3 closed

[2020-01-22 16:23] jontje commented on #66
Just a couple of minor clarifications.

The example code will wait until an EGM communication session has been setup, but that will never happen in your case (since EGM doesn't support your robot type). I.e. the the robot controller will not initiate the EGM communication channel.

The StateMachine Add-In doesn't install EGM. During installation of a robot controller system, then the Add-In checks

[2020-01-29 13:56] Mariunil opened #68 "EGM causes robot controller shutdown with error message "10014 System Failure" on IRB14000"
Hi,

in a project in which we are integrating the `IRB 14000 YuMi` with ROS2, motion control of YuMi is handled via the `abb_libegm` library and the EGM interface of the robot controller.

A fully functioning system was achieved with ROS2 `Dashing`. However, when transitioning to ROS2 `Eloquent`, the same code crashes the robot controller.

When a motion command is issued (joint position reference

[2020-01-29 19:22] gavanderhoorn commented on #68
I'm not claiming this is the cause, but the title of your issue claims:

while later you write:

Unless @jontje recognises this immediately, I would suggest to add more details about your code, the way you are wrapping it with pieces of ROS 2 infrastructure, perhaps even a wireshark trace for both the working and the non-working situations, information on how you installed ROS 2, etc.

Is the same

[2020-01-30 12:33] jontje commented on #68
I haven't seen EGM cause such a behaviour before, at least as far as I can remember.

I have only tested `abb_libegm` in ROS2 `Dashing` against RobotStudio simulations before, which worked fine. I haven't had time to try out ROS2 `Eloquent` yet, but I must say I find it a bit that strange that only a change in ROS2 distribution would cause the crashes. E.g. since the robot controller doesn't "know

[2020-01-30 12:47] gavanderhoorn commented on #68
Looks like it's [Mariunil/abb_yumi](https://github.com/Mariunil/abb_yumi) and/or [yumi-crew/yumi](https://github.com/yumi-crew/yumi).

@Mariunil: random suggestion, but: I would avoid copying entire repositories into your own repository. There are tools to manage dependencies, even when building everything from source.

[2020-01-30 14:02] Mariunil commented on #68
The robot controller crashes when a EGM motion command is issued through abb_libegm. As the robot controller and the desktop PC is communicating via the EGM Sensor protocol (handled by abb_libegm), the robot is unaware of the ROS 2 Eloquent system running on the desktop computer. It is only aware of the EGM server spawned by abb_libegm (and the RWS client spawned by abb_librws, but no issues occur

[2020-01-30 14:05] Mariunil commented on #68
The code in those repositories are very similar, however it is the code from yumi-crew/yumi that are being executed.

Thank you for good advice, will correct this.

[2020-01-31 07:47] jontje commented on #68
Just for testing, then you can manually set any desired EGM parameter values in the RAPID code and then manually trigger the IO-signal to start EGM communication (i.e. the same signal that RWS sets). This can for example be done by using the IO simulator in RobotStudio:

![rs_io_simulator](https://user-images.githubusercontent.com/16589371/73521100-74017800-4405-11ea-96a1-c63dec090c20.png)

Otherw

[2020-01-31 08:41] Mariunil commented on #68
Apologies, my mistake. These zips contain all log files.
[dashing_all_logs.zip](https://github.com/ros-industrial/abb_libegm/files/4138284/dashing_all_logs.zip)
[eloquent_all_logs.zip](https://github.com/ros-industrial/abb_libegm/files/4138285/eloquent_all_logs.zip)

Ok, will test the Eloquent version against a virtual YuMi in RobotStudio and get back to you.

[2020-01-31 08:52] gavanderhoorn commented on #68
Something we seem to be ignoring here: the `ros2_control` and related packages used are community contributed / adapted and very early ports of some basic functionality. These `ros2_control` packages has seem some updates to work again in Eloquent. Those changes are also very new.

Looking at upstream `ros2_control` ([here](https://github.com/ros-controls/ros2_control)) the updates can sometimes b

[2020-01-31 13:30] jontje commented on #68
No worries! 😃

The only thing that stood out in the logs, as far as I could see, is that the robot controller complains about missing AbsAcc data (e.g. `Absolute accuracy is activated but no data exists for robot ROB_L`). Have you experienced any issues when moving the robot with RAPID commands (e.g. `MoveAbsJ` or `MoveL`)?

It might also be reasonable to just run some EGM demo motions from a mini

[2020-01-31 13:58] gavanderhoorn commented on #68
A :man_dancing: YuMi. Nice.

[2020-01-31 14:45] Mariunil commented on #68
We found the cause of the robot controller shutdown to be a "Nan" being sent to robot controller, likely due to a bug in our code. This happened in Eloquent but somehow not in Dashing.

**Eloquent**
![eloquent_joint_pos_ref](https://user-images.githubusercontent.com/47179905/73547514-65d04d80-443f-11ea-985e-62fcba59ee6e.png)
**Dashing**
![dashing_joint_pos_ref](https://user-images.githubuserconten

[2020-01-31 14:48] gavanderhoorn commented on #68
Nice find.

@jontje: should not be too difficult to add a check to the outgoing joint position values before sending them out, correct?

[2020-01-31 14:59] Mariunil commented on #68
(@gavanderhoorn )
Ok, I suspect our bug is caused by us using the older version. We will look into our dependencies and move to the latest versions.

(@jontje)
Have not tested the RAPID commands. We noticed the absacc file to be missing a while back, but have not been able to do anything about it yet.

[2020-01-31 16:23] jontje commented on #68
Great that you managed to figure out the cause!

Yes, it should be straight-forward to add it to the methods [here](https://github.com/ros-industrial/abb_libegm/blob/master/src/egm_base_interface.cpp#L447) and [here](https://github.com/ros-industrial/abb_libegm/blob/master/src/egm_base_interface.cpp#L572).

I will open an issue for it.

AbsAcc is important to ensure +- 1 mm accuracy of the TCP, so

[2020-01-31 16:28] jontje opened #69 "Improve verification of outbound EGM commands"
As mentioned in PR https://github.com/ros-industrial/abb_libegm/issues/68, then there is currently no check in `abb_libegm` for NaN values. If NaN values are allowed to pass to the robot controller, then this will cause a system failure.

It should be straight-forward to add checks for NaN to the methods [here](https://github.com/ros-industrial/abb_libegm/blob/fc647bda83d670437f10e27fcab24fb2ac242

[2020-01-31 16:36] gavanderhoorn commented on #69
@jontje: I've replaced the links with perma-links.

[2020-01-31 16:38] gavanderhoorn commented on #68
As this appears to not be an issue with the library in this repository, but a problem in user code, I'm closing this.

We're tracking the enhancement to check outgoing commands in #69.

@Mariunil: feel free to keep commenting on the issue of course.

[2020-01-31 16:38] #68 closed

[2020-01-31 16:41] gavanderhoorn commented on #66
I'm going to close this.

EGM is not officially supported on FlexPickers, so the timeout reported by @StevenNUS is expected.

@StevenNUS: I'd still be interested in knowing some more about your system, so if you ever find out, please let us know.

For now this is closed.

Feel free to keep commenting on the issue of course though.

[2020-01-31 16:41] #66 closed

[2020-01-31 16:41] gavanderhoorn commented on #65
I'm pretty sure this is no longer an issue with the merge of #63.

@jbeck28: if you could verify that would be most appreciated.

I'm closing this in the meantime.

Feel free to keep commenting on the issue of course.

[2020-01-31 16:41] #65 closed

[2020-01-31 16:42] gavanderhoorn commented on #59
@lijianhualeigua: have you resolved this?

Can this issue be closed?

[2020-01-31 16:48] StevenNUS commented on #66
@gavanderhoorn Sorry for the late reply due to Lunar New Year Holiday. I think the code is the same one with others. When you install the EGM through StateInMachine. It will automatically upload some new codes, perhaps 4 or 5 modules. I think it is just the sample codes and it is the same with all the robots. I will upload the codes soon.

[2020-01-31 16:52] gavanderhoorn commented on #66
I was referring to how you got EGM licensed on your FlexPicker :)

[2020-01-31 16:59] StevenNUS commented on #66
@jontje

- The example code will wait until an EGM communication session has been setup, but that will never happen in your case (since EGM doesn't support your robot type). I.e. the the robot controller will not initiate the EGM communication channel.

I saw the IRC5 controller is supported by the EGM. So I tried the setup because the FlexPicker is also used the IRC5 controller. But it does not w

[2020-01-31 17:02] StevenNUS commented on #66
@gavanderhoorn
I saw the EGM options from RoboStudio (seems under the "license" or what, I forgot the name.). So I install from StateInMachine and I got the sample codes. But it does not work. I will try to take a picture from the RoboStudio tomorrow. I saw the IRC5 controller is supported by EGM so I tried this operation (the FlexPicker is also used this controller). But it seems the FlexPicker i

[2020-02-03 10:42] gavanderhoorn opened #70 "Upstream changes from iit-danieli-joint-lab/abb_libegm fork"
@traversaro et al.: your fork appears to have some interesting changes that may be good to upstream.

Things that caught my eye:

 - windows build fixes (I don't believe we currently target Windows too much, but it'd be good to try and be nice to other users)
 - `s/Boost/std/g`
 - Protobuf related changes/fixes (although we need to maintain bw-compatibility with CMake 3.6 for now)
 - changes to be

[2020-02-03 10:54] traversaro commented on #70
Hi @gavanderhoorn , we are definitely interested in providing the fix upstream, especially because that would reduce the maintenance effort for us in the long term.

Most of those are just earlier versions of https://github.com/ros-industrial/abb_libegm/pull/63 , so I think there is not a lot to port.

This is probably the most important and under some aspects non-trivial change. As soon as it is

[2020-02-03 11:49] gavanderhoorn commented on #70
We're currently targetting Kinetic and Melodic, mostly, here.

Kinetic allows to set the minimum level of C++ to `c++11`.

We have no (and don't state any) requirement to be `c++98` compatible afaik.

@jontje ?

[2020-02-03 16:26] gavanderhoorn opened #72 ""No syntax specific" warning when compiling protobuf messages"
We may want to add a `syntax` key to the `.proto` files we ship here ([these](https://github.com/ros-industrial/abb_libegm/tree/59b6b94cf1cc79135f05fc2b43dbacb625172e78/proto)):

[code]

[2020-02-03 16:27] gavanderhoorn commented on #72
@jontje: we can do this for the `.proto`s we added for `abb_libegm` in this repository, but the main `egm.proto` is not maintained here.

That doesn't mean we cannot add the key, but it would be nice if "upstream" could do it as well.

[2020-02-04 01:34] jbeck28 opened #73 "Undefined Load, Event Message 41438"
I've had EGM working on my desktop for about 6 months now, and I've decided to offload running the robot from my desktop to another computer. I copied the program I've been running (which essentially is a modification of [https://github.com/kth-ros-pkg/yumi](url)) and I find that when I run the program, the state machine add-in gets to line 326 in the program TRobEGM, when it setsup EGMActJoint, I

[2020-02-04 07:41] jontje commented on #72
I have mentioned it to the EGM developers.

I will add the syntax specifier to `egm.proto` when I update for the newest protocol version.

[2020-02-04 10:38] gavanderhoorn commented on #73
@jbeck28: could you please always provide links to lines you are referring to? And please use perma-links (ie: press <kbd>y</kbd>) instead of regular ones, as line numbers can and do change over time.

[2020-02-04 14:12] jontje commented on #73
@jbeck28, are you also using the latest [abb_librws](https://github.com/ros-industrial/abb_librws)? I know of a bug that has crept into the master `branch` (which affects nestled RAPID records), and this could be the cause. I have a [fix](https://github.com/jontje/abb_librws/commit/196582c70d2d9778b4fb7ea383ac2dbb510f2442) that you can try out, if this is the case.

Otherwise, there should be a RA

[2020-02-04 14:54] jbeck28 commented on #73
@gavanderhoorn
I should have been more clear, my apologies! All of those line numbers are in reference to specific modules which make up the StateMachine Add-In. I'm not sure where to find source code other than once it is installed on the controller.

@jontje

I actually did not use the latest version of abb_librws, perhaps I should try to install that.

In the mean time I'll try those modificati

[2020-02-04 15:12] jontje commented on #73
The RAPID modules are currently only available in the distribution format, i.e. packaged into [v1.0](https://robotapps.robotstudio.com/#/viewApp/7fa7065f-457f-47ce-98d7-c04882e703ee) and [v1.1](https://robotapps.robotstudio.com/#/viewApp/c163de01-792e-4892-a290-37dbe050b6e1). But, yes, it would be nice to make the RAPID modules available directly as well.

[2020-02-05 07:25] jontje commented on #70
There is no such requirement.

I would be glad to see those changes; I have had that on my agenda for years, but no time for it 😄 @traversaro can you provide link(s) to the changes? I just want to skim through them.

[2020-02-05 10:00] traversaro commented on #70
There are links to the relevant commit in the issue https://github.com/ros-industrial/abb_libegm/issues/70#issuecomment-581354215 , if you tell us what are the changes you are first interested in we can prepare clean PRs/patches .

[2020-02-05 14:40] gavanderhoorn commented on #59
Closing due to inactivity.

If this is still an issue, we can re-open.

[2020-02-05 14:40] #59 closed

[2020-02-05 14:42] gavanderhoorn commented on #46
@jontje: friendly ping again :)

We have even more RW6 versions now then when I wrote https://github.com/ros-industrial/abb_libegm/issues/46#issuecomment-558544213, so this may be something valuable to have (ie: the ability to detect versions, and block incompatible ones).

[2020-02-05 14:43] gavanderhoorn commented on #20
@jontje: is there still work to be done here?

[2020-02-05 14:44] gavanderhoorn commented on #70
@traversaro: the Windows build related changes may be easiest / most stand-alone?

[2020-02-06 05:51] StevenNUS commented on #66
Hi @gavanderhoorn,

I have uploaded three pictures from the screenshot to show the configuration of our FlexPicker. These pictures are captured from the  RobotStudio. Thanks.

![fig2](https://user-images.githubusercontent.com/42528501/73909355-6fe2c800-48e7-11ea-851f-afd5a89d9ec9.jpg)
![fig4](https://user-images.githubusercontent.com/42528501/73909365-7709d600-48e7-11ea-8b7f-ba44abb9a160.jpg)
![fi

[2020-02-06 07:47] jontje commented on #20
I will not be implementing support for `EGM Path Correction` anytime soon.

Regarding `EGM Position Stream` (i.e. only get feedback from the robot, and not send commands), then it works with the current [EGMControllerInterface](https://github.com/ros-industrial/abb_libegm/blob/89791927dd25c99df0344fa6e23279579868bf38/include/abb_libegm/egm_controller_interface.h) class. However, it might be nice t

[2020-02-06 07:51] jontje commented on #46
Thanks for the reminder 😃

[2020-02-06 08:23] gavanderhoorn commented on #66
@jontje: any idea how this happened? Seems like someone made a mistake somewhere when provisioning the controller/licenses?

[2020-02-06 22:33] jbeck28 commented on #73
The simple modification you mentioned worked perfectly. Thank you @jontje!

[2020-02-07 06:46] jontje commented on #73
@jbeck28, that's great! Which of the suggestions did you use? The modification of the RAPID code, or the fix for [abb_librws](https://github.com/ros-industrial/abb_librws)?

[2020-02-07 06:52] jontje commented on #66
No idea. And, yes, I think it is probable that a mistake happened somewhere.

[2020-02-07 11:07] gavanderhoorn opened #77 "Host State Machine addin somewhere"
Tracking this here, even though it's not really the place.

@jontje wrote (in https://github.com/ros-industrial/abb_libegm/issues/73#issuecomment-581956109):

[2020-02-07 14:28] #72 closed

[2020-02-08 10:08] traversaro commented on #70
As far as I remember the Windows-related changes are due to the use of a newer protobuf (3.11) installed by vcpkg, see https://github.com/iit-danieli-joint-lab/abb_libegm/issues/2 . Interestingly, currently Debian sid and Ubuntu 20.04 still ship protobuf 3.6, so even on 20.04 you will not experience the issue. I would be happy to start tackling those one, but without having a CI that covers the Wi

[2020-02-08 10:09] traversaro commented on #77
fyi @AlbertoRemusIIT

[2020-02-10 07:45] jontje commented on #77
@gavanderhoorn, I updated the title just for clarification, since the StateMachine Add-In is already hosted at the [ABB RobotApps](https://robotapps.robotstudio.com/#/landing) site (in distribution format).

[2020-02-10 07:50] gavanderhoorn commented on #77
Just to be clear: we'd be hosting the addin itself and the accompanying RAPID code (templates), correct?

[2020-02-10 08:03] jontje commented on #70
Regarding the code changes, then I think it would be reasonable to do it in this order:

1. Remove the `boost::math` dependency by implementing the quaternion conjugate operation, which should be straight-forward.
2. Replace as much as possible of the `boost` components with `std` components (i.e. the non-asio components).
3. Finally consider replacing `boost::Asio` with [standalone Asio](https://

[2020-02-17 13:12] jontje commented on #77
All the Add-In’s insides could be hosted, but I don’t see much sense in including the packaged format (that is generated from the “Add-In Packaging Tool 1.9” found [here]( https://new.abb.com/products/robotics/robotstudio/downloads)). And with insides I mean the RAPID code, system configurations and installation script.

[2020-02-17 17:01] jbeck28 commented on #73
I never replied, my apologies! I the modification of the rapid code fixed my issue:
[code]

[2020-02-18 11:30] jontje commented on #73
No worries @jbeck28, and thanks for letting me know.

I will close this issue, but feel free to post additional comments if necessary.

[2020-02-18 11:30] #73 closed

[2020-02-19 07:23] jontje opened #82 "RobotWare versions 6.0 - 6.06.03 are not supported currently"
When PR #81 has been merged it would be possible to re-add support for the currently incompatible RobotWare versions 6.0 - 6.06.03.

[2020-02-19 08:32] gavanderhoorn commented on #82
Hm. That didn't work as I had expected.

But great work with #81.

[2020-02-19 13:38] #46 closed

[2020-02-27 08:19] CaptainNUS commented on #66
Hi @gavanderhoorn @jontje:

May I check if there is some other libraries or techniques to support sending trajectories to the FlexPicker robot? Right now I can only program with RAPID codes for robot control.

I used Python codes to get the desired position information and sent to the FlexPicker through socket. But I don't know how to do the motion planning with Python or C++ in Ubuntu system.

An

[2020-03-02 15:56] jontje opened #84 "Throw exceptions in special cases"
As mentioned in PR https://github.com/ros-industrial/abb_libegm/pull/83, then there exist certain cases which warrants `throw`ing exceptions.

For example, if a user tries to send `NaN` or `infinity` values.

[2020-03-02 16:03] jontje opened #85 "Sending trajectories to robots without EGM support"
Seperate issue for @CaptainNUS's question from https://github.com/ros-industrial/abb_libegm/issues/66#issuecomment-591841601:

[2020-03-02 16:06] jontje commented on #66
@CaptainNUS, I created a new issue for your latest question since I see it as a separate issue from this one, and it may also help others looking for the same thing.

[2020-03-02 18:35] jontje commented on #85
I would use [RWS](http://developercenter.robotstudio.com/webservice/api_reference) via `abb_libegm`'s companion library [abb_librws](https://github.com/ros-industrial/abb_librws).

For example by:

1. Creating/generating the path/trajectory you want to follow.
2. Generate a RAPID module, with a RAPID procedure for running the path/trajectory.
3. Upload the module to the robot controller.
4. Load t

[2020-03-03 21:30] jbeck28 commented on #49
I'd like to ask this here since it seems related to the conversation. I'm also working on reducing the controller lag, and implementing a `ros_control` based driver, and I've noticed two things.

1) The controller lag is giving me jerky starts to motions, since it causes the controller to overreact. I will admit I may have been a bit zealous in tuning the PID, but that was in an attempt to reduce

[2020-03-05 16:56] Mariunil opened #86 "Read joint motor torques using EGM resources"
Hi,

We are working on external control of the ABB YuMi, and wish to read the joint motor torques of the arm's joints and send these to the external computer controlling the robot, preferably at a high Hz.

Are there any EGM routines which can be used to retrieve and transmit this information? If not, what would be our best bet at fetching these values?

[2020-03-06 15:28] jontje commented on #49
Hi @jbeck28,

Have you tried any of the suggestions I mentioned in the comment [above](https://github.com/ros-industrial/abb_libegm/issues/49#issuecomment-501742730)? And what `RobotWare` version are you using?

Do you mean that this occurs when you tell the robot controller to start up the EGM communication? Or when you already have an EGM channel established, and then activate your `ros_control`

[2020-03-06 16:09] jontje commented on #86
Hi @Mariunil,

You could perhaps use `TestSignDefine(Channel SignalId MechUnit  Axis SampleTime)` in the RAPID code to setup some test signals.

Extract from the manual:

And here are two potential options for accessing the test signal values.

#### Option 1

The EGM protocol has a field for [test signals](https://github.com/ros-industrial/abb_libegm/blob/69823e713c6ec7d2f4b91d0d2571eeeca04e9b40/p

[2020-03-10 10:28] AlbertoRemusIIT commented on #86
-- | -- | --
Position | 4000 | degrees or mm [1]
Speed | 4001 | degrees/second or mm/s [1]
Torque | 4002 | Nm
External torque [2] | 4003 | Nm

The EGM protocol has a field for test signals, but I haven't tried to use this myself so I haven't exposed this in the abb_libegm's interface classes. But it might be worth to investigate.

Hi all,

I'm working with my team on a ABB IRB 2600 6-axis industri

[2020-03-10 14:28] jontje commented on #86
Hello @AlbertoRemusIIT,

I ran a simple test of my own, and I experienced the same behaviour as you. I have checked with one of the developers, and unfortunately it seems that the test signal part of EGM has not been fully implemented.

The pipeline looks fine, and as I mentioned above, then the fault is inside the robot controller.

[2020-03-10 14:58] AlbertoRemusIIT commented on #86
Thanks a lot for the feedback @jontje, I'll stay tuned for any update.

[2020-03-10 15:25] gavanderhoorn commented on #86
@jontje: what are the chances of this getting fixed "upstream"?

If there is a chance, we can keep this open as *blocked on dependency*. Otherwise I suggest we close it (for now).

[2020-03-10 15:46] jontje commented on #86
I think the chances are slim at the moment, at least that was the impression I got.

So I will close this for the time being, but feel free to post additional comments if necessary.

[2020-03-10 15:46] #86 closed

[2020-03-12 15:20] #69 closed

[2020-03-12 15:21] gavanderhoorn commented on #70
@traversaro: would what @jontje suggests be acceptable?

[2020-03-12 16:50] traversaro commented on #70
Totally! Recent events here in Italy kind of changed our workplan, but I think we can start with a PR removing the boost::math depending relatively soon.

[2020-03-12 16:54] gavanderhoorn commented on #70
Of course, there is no hurry.

Some things are more important.

[2020-03-17 17:05] jbeck28 commented on #49
@jontje thanks for your reply, and sorry for my delay. Time got away from me.

I did try everything listed in that comment, and I will say the control lag seemed to improve, I now see lag on the order of 40 to 50 ms, rather than 70 to 80.

The jerky start of motion actually typically takes place well after the EGM communication has been started. Typically, it occurs after execution of a long traje

[2020-03-23 12:45] gavanderhoorn commented on #85
As this is not really an issue with the package in this repository, I'm going to close it.

Feel free to keep commenting on this issue of course.

I hope @CaptainNUS was able to benefit from the comment by @jontje.

[2020-03-23 12:45] #85 closed

[2020-03-23 12:45] gavanderhoorn commented on #77
@jontje: any update here?

[2020-03-24 07:21] jontje commented on #77
Not as of yet, and I don't have an estimate of when I could work on this.

[2020-04-06 14:44] shobhitcito opened #89 "Problems with 3-dimensional (x,y,z) motion with abb_libegm"
**Task**: I have a task that requires x-y tracking in a given plane and at a fixed-known time the robot executes a deterministic motion along the z-direction.

**System Specification**: I am working with **ABB IRB-1200**, **RobotWare: 6.8**, ROS, abb_libegm

The questions that I would like to explore through this forum are explained below. I have discussed these questions with @gavanderhoorn and w

[2020-04-08 11:25] jontje commented on #89
Hi @shobhitcito,

I have some follow-up questions for you.

When testing to use only velocity inputs, did you set the `EGMRunPose` RAPID instruction's `PosCorrGain` argument to `0`? It is required for pure velocity control.

Have you specified a correct `tooldata` in the RAPID code? This might be one reason depending on the actual tool you use.

And what arguments do you use for the `EGMActPose` R

[2020-04-22 10:49] traversaro opened #90 "How to properly cite the abb_libegm project"
Hi @jontje,
   I was wondering if there is any specific publication/work that would like user to cite when they write a academic pubblication, and they want to properly refer/cite `abb_libegm` ?

Thanks in advance!

[2020-04-23 06:46] jontje commented on #90
Hi @traversaro,

Good question.

A start would be to at least cite that ABB developed `abb_libegm` with support from the EU projects
[SYMBIO-TIC](http://www.symbio-tic.eu/) and [ROSIN](https://rosin-project.eu/) (`abb_libegm` wouldn't exist without them). See the [readme's acknowledgements section](https://github.com/ros-industrial/abb_libegm#acknowledgements) for some more details.

I hope this h

[2020-04-23 06:56] traversaro commented on #90
Hi  @jontje , thanks!

Typically in academic papers we  don't cite the funding of the work/software that we refer to (as otherwise it may quite complex to track and mention the funding of all the papers that you cite), and this job is typically left to the resources that are  linked by the citation.

In any case, for the citation I was thinking something like:
[code]
(That is already cited by two

[2020-04-23 08:07] jontje commented on #90
Ah, yes, I have some vague memories of having heard that before :sweat_smile:

[2020-04-23 08:21] gavanderhoorn commented on #90
I'm not aware of any publications. There is no seminal paper which describes `abb_libegm`.

My suggestion would be to use the first option you mention (ie: @jontje's presentation at the ROS-I Conference 2018).

[2020-04-23 08:41] traversaro commented on #90
I think I can close  the  issue as I gather the information I was interested  in, thanks!

[2020-04-23 08:41] #90 closed

[2020-04-23 11:30] shobhitcito commented on #89
Hi @jontje

Thank you very much for your answers. I couldn't access the facility to test your suggestions until now but i am planning them next week. I will put my feedback on them ASAP.

I have one additional question:
Q. The robot exceeds its dynamic limits when its initial position is far (~100mm) from the data stream coming via abb_libegm (through the sensor). Is it possible to use the first d

[2020-04-28 12:05] jontje commented on #89
Are you using the RobotWare [StateMachine Add-In](https://robotapps.robotstudio.com/#/viewApp/c163de01-792e-4892-a290-37dbe050b6e1)?

RobotWare `6.10` should be able to mitigate that, but here are a few other suggestions as well:

- **`\RampInTime` Argument**
Increase the ramp in time for the EGM motions with the `\RampInTime` argument (e.g. in the `EGMRunPose` instruction). This allows for a larg

[2020-04-28 12:22] jontje commented on #89
Hm... that sounds a bit strange, and I don't have a good idea at the moment for what could cause this behaviour.

It might also be caused somewhere inside [EGMControllerInterface](https://github.com/ros-industrial/abb_libegm/blob/c91601dfc9844f2d37b1eac0d2b7060f0ac2550b/include/abb_libegm/egm_controller_interface.h), since it is far from optimal and contains a bit of redundant checks/copying.

Had

[2020-05-09 22:28] traversaro commented on #70
First related  PR: https://github.com/ros-industrial/abb_libegm/pull/91 .

[2020-05-10 10:01] gavanderhoorn commented on #44
Related: #91.

[2020-05-10 10:03] gavanderhoorn opened #92 "Add Windows builds to CI"
As the library does support Windows (see also #44, #70 and #91), it would be good to add Windows builds to the CI configuration.

`industrial_ci` will probably not be able to help, but we could look at other ROS (ROS2?) packages which have Windows builds as part of their CI and mimic their setup.

[2020-05-10 10:04] gavanderhoorn commented on #92
I really don't use ROS on Windows, so this would not be something I would take on, unless I can more-or-less copy a configuration from somewhere else.

[2020-05-10 21:06] traversaro commented on #92
Related docs on CI for ROS on Windows:
* https://ms-iot.github.io/ROSOnWindows/GettingStarted/SetupCI.html
* https://github.com/ms-iot/rosonwindows_ci

For non-ROS compilation, as mentioned in https://github.com/ros-industrial/abb_libegm/issues/70#issuecomment-581354215 it would be  great to have a job for checking that case, it should be sufficient to  have a simple GitHub  Action like:
[code]

[2020-05-11 12:52] gavanderhoorn commented on #92
We can setup Actions here on this repository.

If you could submit a PR, that would be great.

[2020-05-31 16:43] gavanderhoorn commented on #92
@traversaro: there is no real pressing need, but would you happen to have had a chance to take a look at the Windows CI setup?

[2020-05-31 17:04] traversaro commented on #92
Still on my todo list, Latest update was in https://github.com/ros-industrial/abb_libegm/pull/93, I did not investigate in details but it seems that the latest protobuf and/or CMake has some kind of problem in the producing the correct path of the  generated  headers when the `.proto` file is not in the same directory of the CMake script that invokes `protobuf_generate_cpp` . Probably we could byp

[2020-05-31 17:06] gavanderhoorn commented on #92
Hm.

I seem to remember running into this myself.

We could create a sub `CMakeLists.txt` inside the `proto` dir, if that would help?

[2020-05-31 17:09] traversaro commented on #92
Actually that is explicitly not supported by `FindProtobuf.cmake` (unless the proto generated files are not moved in their own library, but I am not sure it is desirable), see  https://cmake.org/cmake/help/v3.15/module/FindProtobuf.html  :

[2020-05-31 17:16] gavanderhoorn commented on #92
Hm. Blah.

[2020-06-01 08:43] gavanderhoorn opened #100 "Add dummy/test pkg to exercise the CMake infrastructure"
This could be a simple (almost empty) ROS package which `find_package(abb_libegm REQUIRED)` and then attempts to link against it.

[2020-06-01 08:46] gavanderhoorn commented on #100
Related: https://github.com/ros-industrial/abb_librws/issues/89.

[2020-06-02 07:14] #92 closed

[2020-06-18 19:44] shobhitcito commented on #89
@jontje , @gavanderhoorn
thanks for your help

We have been using velocity based motions entirely which work quite well and has resolved all issues that I mentioned in this post. Lot of errors wherein robot landed up exceeding its dynamic limit was due to a very crude detection algorithm that wasn't feeding very great references.

[2020-06-18 19:44] #89 closed

[2020-07-01 14:31] EvilPictureBook commented on #67
I'm trying to use libegm on Ubuntu 20.04 with ROS Noetic, Boost 1.71, and seeing the same issue. I'm using the fix above for now...

[2020-07-03 16:36] traversaro commented on #70
Third PR: https://github.com/ros-industrial/abb_libegm/pull/103 .

[2020-07-20 07:15] shobhitcito opened #104 "Stopping cartesian velocity EGM session"
I am streaming velocity set points to the ABB IRB 1200 robot (IRC5 Robotware 6.10) via EGM. How can I make sure that the robot stop executing the velocity set point given after certain time if I lose connection to the server (PC generating set points)?

Currently, the robot continues to execute the last velocity set point it received in case if the client loses connection to the server. This is ex

[2020-08-12 13:44] #67 closed

[2020-08-12 14:01] jontje commented on #104
Hello @shobhitcito,

Have you specified the optional `\CommTimeout` argument when setting up the EGM communication channel? E.g. with the `EGMSetupUC` instruction.

If I remember correctly, then the default timeout is 1 second.

[2020-08-24 20:37] jbeck28 opened #105 "Setting Up Virtual Controller in Robot Studio For EGM"
Hello,

I've seen some talk in other issue threads about running a virtual controller in robot studio on a Windows PC, and connecting to this virutal robot through EGM to test functionality. I am however, having a very difficult time connecting to the virtual controller on the windows machine. When I open the flexPendant in robot studio and check the network settings for the controller, there is n

[2020-08-25 07:17] jontje commented on #105
Hello @jbeck28,

The WAN and service port network settings shown in the virtual FlexPendant are not used in virtual controllers, so you can ignore those.

For me it's usually enough to do something like this:
1. Set the virtual controller's EGM system configurations (i.e. IP address to the Linux computer and the port to use)
   * See `RobotStudio --> Controller tab --> Configuration --> Communicat

[2020-08-25 07:28] gavanderhoorn commented on #105
And:

 4. whenever you need to "connect to the robot" use the IP address of the Windows PC running RobotStudio.

[2020-08-25 09:18] gavanderhoorn commented on #105
As this is not really an issue with the library in this repository, I'm going to close it.

We *could* potentially consider adding a section to the readme (or some other part in the documentation), but in the end this seems like a general usage question in the context of RobotStudio, not `abb_libegm` (ie: *all* interaction over a network connection with a virtual controller requires the same steps

[2020-08-25 09:18] #105 closed

[2020-08-25 09:19] gavanderhoorn commented on #104
I'm going to close this due to inactivity.

@shobhitcito: if this is still something you'd wish to discuss or continue, please comment and we can re-open.

[2020-08-25 09:19] #104 closed

[2020-08-26 22:49] jbeck28 commented on #105
Thank you for the quick reply, jontje. This has clarified a lot. I have gotten RWS to grab whether the motors are on, rapid is running, and whether the robot is in auto mode. I have no however, gotten EGM to connect. I'm using the EGM samples you linked to in a different issue thread (after changing the Cmake file so they compile against the pure cmake version of egm), and `c3_joint_velocity_contr

[2020-08-26 23:05] jbeck28 commented on #105
I just figured it out... shame that took me almost all day. Both ROB_1 and UCdevice need the same port as well. In my case 6510.

[2020-08-27 18:05] gavanderhoorn commented on #105
@jontje: perhaps we could add a sort of FAQ or hints section to the readme, or a separate doc, which could list some gotchas.

Even though it's all documented in the EGM documentation, the basic IRC5/RW6 documentation and the RobotStudio documentation, having to go through all of that just to get things working may be a bit much.

On the other hand: I'd not be comfortable if people could start usi

[2020-08-27 18:08] gavanderhoorn commented on #105
No need to apologise.

Better to open an issue and have it closed with the suggestion to ask your question somewhere else than never asking questions.

So technically I would say this would be a generic question about EGM and how to use it/set it up in RobotStudio, which would seem like something you'd post on the [ABB RobotStudio fora](https://forums.robotstudio.com).

[2020-08-31 15:24] jontje commented on #105
Sorry for the slow response @jbeck28, but here are a few clarifications even if you have already gotten it to work.

The `Remote Address` attribute needs to point to wherever your EGM server is located, so that the robot controller knows where to send the EGM messages. And it is the RAPID code that specifies which of the `ROB_1` and `UCdevice` transmission protocol instances that are actually used

[2020-08-31 15:28] jontje commented on #105
Yes, that would be good @gavanderhoorn

If I remember correctly then you have mentioned [Sphinx](https://www.sphinx-doc.org/en/master/usage/quickstart.html) before, and I guess that could be used for a better "Getting Started" documentation etc.?

[2020-08-31 15:48] gavanderhoorn commented on #105
We could use Sphinx, or just a separate markdown doc for now.

I'd first focus on content, we can change / upgrade the delivery system later.

[2020-09-11 00:35] rs-s commented on #18
Hi, I am unable to build the samples package on Windows ROS Kinetic. Any idea what could be the issue? See below:

C:\catkin_ws>catkin_make_isolated --install --pkg abb_libegm_samples
Base path: C:\catkin_ws
Source space: C:\catkin_ws\src
Build space: C:\catkin_ws\build_isolated
Devel space: C:\catkin_ws\devel_isolated
Install space: C:\catkin_ws\install_isolated
Additional CMake Arguments: -DCMAK

[2020-09-11 05:29] gavanderhoorn commented on #18
@rs-s wrote:

yes, this:

[2020-09-12 00:02] rs-s commented on #18
Thanks. I already have abb_libegm installed. I also sourced my windows ROS setup.bat and can see abb_libegm when I do "rospack list" but for some reason it can't be found during the catkin_make isolate process.

It is also looking for abb_libegmConfig.cmake or abb_libegm-config.cmake however abb_libegm only seems to have the following file: abb_libegmConfig.cmake.in

Any ideas?

[2020-09-14 15:09] jontje commented on #18
Hi @rs-s,

Are you using the plain CMake implementation of `abb_libegm`? If so, have you updated the `abb_libegm_samples`'s `CMakeList.txt` file? I.e. so it doesn't try to find `abb_libegm` as a component of `catkin`.

Note: The `abb_libegm_samples.zip` above was made when `abb_libegm` was a `catkin` package.

`abb_libegmConfig.cmake.in` is used to generate the `abb_libegmConfig.cmake` file when y

[2020-09-16 07:12] gavanderhoorn commented on #86
According to [this post](https://forums.robotstudio.com/discussion/12015/egm-measuredforce-and-testsignals) on the RobotStudio forum, this should now work ?

[2020-09-16 10:33] jontje commented on #86
Unfortunately, no, I don't think so. This issue is about the [testSignals](https://github.com/ros-industrial/abb_libegm/blob/ec2fcdabc7d0f65fc1afa64b263f585895276cfd/proto/egm.proto#L163) field in the `EGM` messages, and not the [measuredForce](https://github.com/ros-industrial/abb_libegm/blob/ec2fcdabc7d0f65fc1afa64b263f585895276cfd/proto/egm.proto#L165) field.

What I understood from the post is

[2020-09-16 14:19] gavanderhoorn commented on #86
Hm, teaches me to post something without fully reading it :(

Too bad though. Any idea why the test signals part is not implemented fully?

Seems like something that would be really worthwhile to have.

[2020-09-17 13:09] jontje commented on #86
No worries, it's better to ask than not.

Hm... I don't know, maybe because there haven't been enough customer requests about it.

I agree, it would be useful.

[2020-09-17 13:13] traversaro commented on #86
On which channel do you think it would be more appropriate for a customer to make a request in this direction?

[2020-09-17 13:20] jontje commented on #86
I suggest to try one of these channels:

* [ABB Robotics User Forums](https://forums.robotstudio.com/)

* `RobotStudio Suppot Tool`:
   ![RobotStudio Suppot Tool](https://user-images.githubusercontent.com/16589371/93475585-16b92900-f8f9-11ea-9a45-8bb16829453d.png)

[2020-09-23 05:12] lijianhualeigua opened #107 "How to use EGMPlanner to controller external axis"
Through this issue [#57 ]([https://github.com/ros-industrial/abb_libegm/issues/57]) , I found that the external axis is controlled through EGM, but I have a question. For using EGM to control the external axis, it is possible to setting different mechanical units through EGMSetupUC, and make corresponding connections through different UDP ports. But I see that EGMPlanner message contains External

[2020-09-23 06:52] jontje commented on #107
Hi @lijianhualeigua, can you provide a brief description of your system? For example, `RobotWare` version and options, as well as the mechanical units and RAPID tasks that are configured in the system.

You need to have different RAPID tasks for each mechanical unit you want to control with EGM (see https://github.com/ros-industrial/abb_libegm/issues/57#issuecomment-526475159). To have different R

[2020-09-23 09:25] lijianhualeigua commented on #107
@jontje Thank you !  I upload four pictrue about the system and task configure infomation.
The system infomation:

![image](https://user-images.githubusercontent.com/31989618/93992768-8aa77580-fdc0-11ea-99a8-cceddf917b21.png)

The task infomation:
![image](https://user-images.githubusercontent.com/31989618/93992843-a14dcc80-fdc0-11ea-8c1d-a79a39e2b527.png)

The mechanical unit
![image](https://use

[2020-09-23 12:36] jontje commented on #107
# Robot Controller

Your system configurations look OK, except maybe that the mechanical unit group `Exter_axis` should probably have the `M7DM1` unit under the `Mechanical Unit 1` column instead of the `Robot` column. The `Robot` column is for robots with a TCP (according to the manual).

Then you need to set up the RAPID code with something like this:

- The `T_ROB1` task:
[code]

- The `M7` tas

[2020-09-23 13:07] lijianhualeigua commented on #107
@jontje  Thank you for your patient answers.
But you use two EGM server to controller robot and external axis, this way not need to allocat external joint value in EGMPlanner message. So  this way can not realize the sync  move about robot and external axis by reason of  not use only one EGM server . If use MoveJ\MoveL to move robot and external axis, it can realize the sync move about robot and e

[2020-09-23 13:46] jontje commented on #107
Unfortunately, as far as I am aware, then it is not possible to control both the robot and the external axis via the same EGM channel.

It's a limitation in the EGM interface, and I haven't seen any updates about it in the latest `RobotWare` release notes.

[2020-09-23 14:38] lijianhualeigua commented on #107
@jontje Thank you for your patient answers.
I have other question, if we have three external axis and this belong three mechanical unit, according you answer i need to use four EGM server  channel to controller robot and  other three external axis.
If  we have three external axis and this belong one mechanical unit, so i need use two EGM server  channel  to controller robot and  other three  exter

[2020-09-24 15:28] jontje commented on #107
No worries, I am happy to help.

Yes.

Also, another limitation of EGM is that it can only manage 4 active channels at the same time (if I remember correctly).

Yes.

That is correct.

I have never attempted anything like that, so I don't know the feasibility of this approach. But if you can get all the external axes controlled by the same mechanical unit, then it should work with one EGM channel

[2020-09-25 15:35] jbeck28 commented on #89
@shobhitcito
You were able to reduce the latency to closer to 20ms?

[2020-10-07 10:44] marekcygan commented on #57
@gavanderhoorn @jontje I would like to use EGM together with external axis (rail), if there is some documentation that you could point me to it would be helpful.

[2020-10-07 12:02] jontje commented on #57
@marekcygan, there is no finished documentation yet, but you should be able to follow the example here: https://github.com/ros-industrial/abb_libegm/issues/107#issuecomment-697335285

[2020-10-15 09:40] Luc90 opened #110 "EGM Move not allowed in External Motion Interface"
Hello,

I use the ABB IRB 1200-5/0.9, RobotWare 6.11.01 and I work with the real robot.

I try to use EGM with the code provided in #18 Create code samples.
I used the code "a1_joint_trajectory_node.cpp" successfully but when I try to use the code "a2_pose_trajectory_node.cpp", I get the following error on the Flexpendant **"Event Message 50453", "Move not allowed in External Motion Interface"**.

[2020-10-16 13:44] jontje commented on #110
Hi @Luc90,

Can you check what state the EGM channel is in before and after the EGM RAPID instructions?

I.e. use `EGMGetState(egm_id)`, which should be in any of these states:
- `EGM_STATE_DISCONNECTED` = `0`
- `EGM_STATE_CONNECTED` = `1`
- `EGM_STATE_RUNNING` = `4`

Otherwise, you could try and use the [RobotWare StateMachine Add-In](https://github.com/ros-industrial/abb_libegm#statemachine-add-

[2020-10-22 11:13] Wojcik98 opened #111 "Question about EGM tracking speed and accuracy"
I have been testing how fast can the EGM track received positions and how much the current position deviates from it.
Tests were in pose mode, all parameters with default values except `MaxSpeedDeviation` which was `10'000` to not limit the movement. Trajectory used (x, y, z values):
- 450, 0, 700
- 450, 100, 700
- 450, 100, 600
- 500, 100, 600
- 500, -100, 600
- 450, -100, 700
- 450, 0, 700

I te

[2020-10-27 12:48] marekcygan commented on #111
@jontje any chance that you could comment on the issue above? We are looking now into velocity control to check discrepancies there.

[2020-10-27 13:58] jontje commented on #111
It's been awhile since I used the `EGMTrajectoryInterface`, but here are a few things you could investigate:

- When instantiating `EGMTrajectoryInterface` you can set a configuration similar to this:
[code]
  The `use_velocity_outputs` flag should be helpful to minimize the trajectory error, and you could also try the different options for `spline_method`.

- Another thing you could try is to use

[2020-10-27 19:42] marekcygan commented on #111
@jontje we will definitely try those and get back to you, thanks!

[2020-10-29 14:54] Wojcik98 commented on #111
Thanks for suggestions @jontje!
Disabling filtering removed majority of oscillations and slightly reduced error. We could then safely increase position gain to 20 which decreased the error even further with only small overshoot.
<img src="https://user-images.githubusercontent.com/5786817/97586717-e0dc8980-19fa-11eb-8d04-bf430aad063e.png" width="450" height="300">
<img src="https://user-images.gith

[2020-10-29 14:54] #111 closed

[2020-10-29 15:11] jontje commented on #111
No problem, I'm happy to help 😄

[2020-10-31 21:54] AbdElRahmanFarhan opened #112 "EGM for current or torque sensing"
Hello,
I just have a question. Can EGM or Even RWS be used to get the current or torque of the motors?

[2020-11-02 07:53] jontje commented on #112
As far as I know, then EGM cannot currently do that.

See https://github.com/ros-industrial/abb_libegm/issues/86#issuecomment-595839429 for one way of how RWS could be used (i.e. the "option 2" section). Also, please note that RWS is not designed for high performance.

[2020-11-02 08:26] gavanderhoorn commented on #112
As this is not an issue with the library in this repository, and @jontje has answered the question, I'm closing it.

Feel free to keep commenting on the issue of course.

[2020-11-02 08:26] #112 closed

[2020-11-02 08:28] gavanderhoorn commented on #82
@jontje: I've 'inverted' the title of this issue to better reflect the current state of things.

That turns this issue into an actual issue, instead of an enhancement request.

I'll also pin the issue, so users looking at the issue tracker would immediately see it.

[2020-11-02 08:37] gavanderhoorn commented on #107
I'm going to assume this was answered, and as this does not seem like something which needs changes in `abb_libegm` itself, I'm going to close it.

Feel free to keep commenting on the issue of course @lijianhualeigua.

And it would also be interesting to hear about your experiences with setting up the multi-group system with EGM.

[2020-11-02 08:37] #107 closed

[2020-11-02 08:42] gavanderhoorn commented on #110
Actually, I'm going to close this for now, due to inactivity.

If this is a still a problem for you @Luc90, please comment and we'll re-open.

[2020-11-02 08:42] #110 closed

[2020-12-07 11:18] cpilon commented on #18
Hi @jontje ,

I am experiencing similar issues trying to build your samples with the plain CMake implementation. Could you please provide more details on what modifications need to be made to the abb_libegm_samples's CMakeList.txt?

I have removed links to abb_libegm from the CMakeList.txt and modified the include statements in the cpp files to point to the abb_libegm headers but now I get the fol

[2020-12-07 16:07] jontje commented on #18
Hi @cpilon,

What command(s) do you run when building?

You should have something like this in the`CMakeList.txt` file:
- `find_package(abb_libegm REQUIRED)`
- `target_link_libraries(... abb_libegm::abb_libegm ...)`

[2020-12-07 18:47] cpilon commented on #18
Hi @jontje  - thanks for your reply.

I use catkin_make_isolated.
abb_libegm and abb_librws were built successfully using this.

Ok, I added this.

This seems to be my issue. Where could I find more info about the right way to format this part?

I have made a change in my include statement in the samples cpp files. For now I have hardcoded my path to #include "my_workspace/devel_isolated/abb_libeg

[2020-12-08 16:56] jontje commented on #18
You could for example read a tutorial on modern `CMake`,

You should really try to avoid hardcoded include paths, it is not good for portability.

Here is a rough example package ([abb_egm_sample.zip](https://github.com/ros-industrial/abb_libegm/files/5660559/abb_egm_sample.zip)) for linking `abb_libegm` into a `ROS` node.

It works for me on `Ubuntu` `18.04` with `ROS` `Melodic` and the latest ve

[2021-01-11 18:13] cpilon commented on #18
@jontje - thanks for your help, I have been able to figure out my issues!

[2021-02-10 05:38] ScottYang1982 opened #117 "Any example to showcase the usage of this library?"
HI,
Any example to showcase the usage of this library?
For example, a c++ main program to call the library to send some targets to robot ?
Thank you!

[2021-02-10 08:23] gavanderhoorn commented on #117
See some of the later comments on #18.

And in a way, [ros-industrial/abb_robot_driver](https://github.com/ros-industrial/abb_robot_driver) is a "showcase" for this package (combined with `abb_librws`).

[2021-02-11 20:43] marekcygan opened #118 "support for the Omnicore controller"
I would like to ask whether this library will work with the new controller Omnicore (e.g., for IRB 1300), which also requires Robotware 7+ if I understand correctly.

[2021-02-11 21:00] gavanderhoorn commented on #118
This library: afaik, yes, it is compatible with RW7. @jontje has tested this. He'll probably confirm tomorrow.

`abb_librws` however is not: RWS changed a bit between RW6 and RW7. See also https://github.com/ros-industrial/abb_librws/issues/80.

[2021-02-12 09:24] jontje commented on #118
I have tested abb_libegm with single armed YuMi robots, which runs on OmniCore controllers, and it worked fine.

I have not tested with the latest RobotWare `7.1.0` version, but I don't expect any problems (based on what I can see in the release notes).

Also, I recommend to setting a test with RobotStudio for the case in question, since if that works then it will most likely work with a real robo

[2021-02-12 09:53] gavanderhoorn commented on #118
Seeing as the immediate question was answered, I'm going to close this.

@marekcygan: if it turns out something does need to be fixed or changed in `abb_libegm`, we can track it in more on-topic issues.

[2021-02-12 09:53] #118 closed

[2021-02-12 11:53] marekcygan commented on #118
@jontje @gavanderhoorn thanks for quick answers!

[2021-02-12 12:05] gavanderhoorn commented on #117
I'm going to close this as it seems like it's a duplicate of #18.

Feel free to keep commenting on it @ScottYang1982, or on #18 if it's more on-topic there.

[2021-02-12 12:05] #117 closed

[2021-02-13 13:49] ScottYang1982 commented on #18
@jontje
The latest abb_libegm, using **catkin build** on ubuntu 16.04, ROS kinetic.
abb_libegm built ok but when tried to **catkin build** abb_egm_sample, it said cant find package **abb_libegm**.

[2021-02-13 14:11] ScottYang1982 commented on #18
Errors     << abb_egm_sample:cmake /root/egm_samples_ws/logs/abb_egm_sample/build.cmake.001.log
CMake Error at /root/egm_samples_ws/src/abb_egm_sample/CMakeLists.txt:11 (find_package):
  By not providing "Findabb_libegm.cmake" in CMAKE_MODULE_PATH this project
  has asked CMake to find a package configuration file provided by
  "abb_libegm", but CMake did not find one.

  Could not find a package

[2021-02-15 15:47] jontje commented on #18
How does your ROS catkin workspace(s) structure look like?

Did you build abb_libegm in an underlay workspace? If so, have you "chained it" with an overlay workspace? Or are you building both the abb_libegm and abb_egm_sample packages in the same workspace?

[2021-02-17 02:45] ScottYang1982 commented on #18
Hi @jontje ,
abb_libegm and samples are built separately. Using findpackage when building samples.
How to link them together correctly?

[2021-02-17 09:13] gavanderhoorn commented on #18
@ScottYang1982: please show us the exact steps you're using to create your workspace, place the packages in it, install the dependencies and build it.

As @jontje wrote: there are a few steps there which will directly influence the success of what you're trying to do.

Without more information on what you're already doing, we cannot help you.

[2021-02-26 14:24] mkatliar opened #119 "EgmClock message does not represent UNIX time"
The definition of `EgmClock` in [proto/egm.proto](https://github.com/ros-industrial/abb_libegm/blob/e0b8c3b0a906a50a7ad8d1d1b465a4343369c4e8/proto/egm.proto) is

[code]
Below are headers of EGM messages sent from **RobotStudio** on my system:
[code]
The time data `sec: 28397` does not look like "time in seconds and microseconds since 1 Jan 1970".

[2021-02-26 15:05] gavanderhoorn commented on #119
So just to be clear: this repository is *not* where ABB maintains its EGM implementation.

This is an OSS library which implements an interface to EGM running on an ABB (robot) controller.

Issues with EGM itself -- as it seems yours is -- should be either reported to your local ABB branch office (which will then escalate them if/when appropriate) or posted on one of the official ABB fora.

From y

[2021-02-26 15:07] gavanderhoorn commented on #119
Having written that: I could imagine that RobotStudio uses a non-wallclock internally for the robot controller, and the timestamps you show are relative to when the virtual controller was started.

For `28397` specifically, that would be about 8 hours ago.

[2021-02-26 17:49] mkatliar commented on #119
@gavanderhoorn I agree. I thought maybe the documentation needs to be changed. What is the source of information about what `EgmClock` should contain? I could not find it in EGM documentaion.

[2021-02-26 17:55] gavanderhoorn commented on #119
Perhaps @jontje can clarify where `EgmClock` comments come from.

They were added in #32, which copied the files distributed with RobotStudio.

[2021-02-26 18:00] mkatliar commented on #119
@gavanderhoorn what is the upstream?

[2021-02-26 18:06] gavanderhoorn commented on #119
The EGM developers @ ABB Robotics.

[2021-03-02 07:31] jontje commented on #119
If I remember correctly, then `EgmClock` was added to the EGM protocol in RobotWare `6.07`, but the release notes don’t mention it at all as far as I can see.

[2021-03-04 07:07] stevedanomodolor commented on #18
I was able to compile the codes and was able to run the code but I get stuck in the wait for an EGM communication to start from thr ros side.

When I start the simulation from the robotstudio side, i get
[code]

ROs side

[code]

Am I  supposed to do something else to connect the two o just change the port address in the ros code?,
Also, How do I deselect all tasks other than ROB_1 on RobotStudio,

[2021-03-04 08:04] gavanderhoorn commented on #18
Did you setup the `UdpUc` device? You need to make sure you've configured the correct IP address for it to be able to communicate with the UDP server (ie: the code you run yourself).

You can find it via ` RobotStudio > Controller tab > Configuration > Communication > Transmission Protocol`.

This is also mentioned in the FAQ of the `abb_robot_driver`. See [here](https://github.com/ros-industrial/

[2021-03-04 08:06] gavanderhoorn commented on #119
@mkatliar: would it be OK to close this issue?

Have you reached out to ABB on the RobotStudio fora?

We could potentially add a clarifying comment here, but if it's not necessary that would be great.

[2021-03-04 10:12] jontje commented on #18
You can use `Ctrl + Shift + M` to reset all program pointers to main, and select RAPID tasks to run via `RobotStudio > RAPID tab > Selected Tasks > Check/uncheck tasks `.

For example:
![Capture](https://user-images.githubusercontent.com/16589371/109947835-0d225280-7cda-11eb-9f9d-f4d27e614fac.PNG)

[2021-03-05 16:51] Didier-Surface commented on #107
@lijianhualeigua could you contact me in private message? I would like to discuss about this issue

[2021-03-06 14:36] stevedanomodolor commented on #18
@jontje thank you very much for your answer, i was able to connect and run the programs.
I have some question that might sound silly.
- What is the difference between using the egm library or the abb_driver library?

[2021-03-06 15:45] gavanderhoorn commented on #18
@stevedanomodolor: let's keep this on-topic.

Please post a new issue on the appropriate issue tracker.

[2021-03-06 16:30] stevedanomodolor opened #120 "abb_libegm vs abb_robot_driver"
this is out of curiosity,
What are the advatatges of using the abb_libegm vs using the abb_driver?

[2021-03-06 17:36] traversaro commented on #120
`abb_libegm`  is a pure C++ library that do not depend on ROS, while the `abb_robot_driver` provides ready to use ROS nodes.

[2021-03-06 17:40] gavanderhoorn commented on #120
`abb_driver` is not the same as `abb_robot_driver`.

Could you clarify which one you're asking about @stevedanomodolor?

[2021-03-06 17:40] gavanderhoorn commented on #119
Closing.

[2021-03-06 17:40] #119 closed

[2021-03-06 19:09] stevedanomodolor commented on #120
abb_robot_driver, @gavanderhoorn,
If i wanted to use moveit for motion planning, would you advice me to use dirrect abb_robot_controller or send the command directly with the abb_lib_egm?

[2021-03-07 15:29] gavanderhoorn commented on #120
I believe @traversaro explained it well enough: `abb_robot_driver` is an actual ROS *driver* for ABB controllers. `abb_libegm` is a low-level library for interfacing with EGM capable ABB controllers.

The former uses the latter, but they are definitely not comparable.

Depends on how much work you want to do yourself.

Do you want to simply execute trajectories? Use `abb_robot_driver`.

Do you fir

[2021-03-07 15:30] gavanderhoorn commented on #120
As this is not an issue with `abb_libegm`, but more of a usage / general question, I'm going to close it.

Feel free to keep commenting on it of course @stevedanomodolor.

[2021-03-07 15:30] #120 closed

[2021-03-07 18:31] stevedanomodolor commented on #120
@gavanderhoorn thank you very much , I understood it clearly

[2021-03-10 16:32] mkatliar commented on #119
The issue is not present on the real robot, so it looks like a RobotStudio bug. I started a discussion on the ABB forum: https://forums.robotstudio.com/discussion/12743

[2021-03-12 15:27] DyumanAditya commented on #55
When I try to build abb_libegm and abb_libegm_samples, (using catkin_make_isolated on Windows) which are both in the same catkin_ws, I get the following error:
abb_libegm seems to build without error.

[code]

[2021-03-15 13:54] DyumanAditya opened #121 "Can't build abb_libegm_samples on Windows"
Hi,
I found these abb_libegm samples from [issue #18](https://github.com/ros-industrial/abb_libegm/issues/18#issuecomment-457592204) and want to experiment with them to see if they can help me out. I have a `catkin_ws`  with only `abb_libegm` and `abb_libegm_samples`. When I run `catkin_make_isolated` `abb_libegm` builds successfully but `abb_libegm_samples` gives me this error:

<details><summary

[2021-03-15 14:48] DyumanAditya commented on #121
**UPDATE:** I read [here](https://github.com/ros-industrial/abb_libegm/issues/18#issuecomment-692121293) the `abb_libegm_samples` were made some time ago when `abb_libegm` was a catkin package.

I have updated my CMakeList.txt accordingly (I think, please correct me if I've done something wrong), here it is:

<details><summary>Click to expand</summary>

[code]
</details>

The new error I get when

[2021-03-15 15:03] gavanderhoorn commented on #121
that's indeed the cause of the problem you encountered.

almost correct. The change to add a separate `find_package(abb_libegm ..)` is good, but:

your new error is caused by the fact you're missing: `target_link_libraries(... abb_libegm::abb_libegm ...)` for all targets built.

This will update the include paths to also include the location of the header files of `abb_libegm`, which is the cause

[2021-03-15 15:04] gavanderhoorn commented on #121
Note: this is actually a duplicate of the issue you already found.

The solution is mentioned in https://github.com/ros-industrial/abb_libegm/issues/18#issuecomment-740013963, which I believe you'd already also found.

As such, I'm going to close this issue.

Feel free to keep commenting on it.

[2021-03-15 15:04] #121 closed

[2021-03-15 15:46] DyumanAditya commented on #121
Thanks for your response,[ #18 (comment)](https://github.com/ros-industrial/abb_libegm/issues/18#issuecomment-740013963) didn't seem to be an explicit solution (to me at least): what do I need to add in place of the "..."  in `target_link_libraries(... abb_libegm::abb_libegm ...)`?

Adding this:
[code]
gives me the following error:

<details><summary>Click to expand</summary>

[code]
</details>

I

[2021-03-15 16:13] gavanderhoorn commented on #121
As I wrote in https://github.com/ros-industrial/abb_libegm/issues/121#issuecomment-799491701:

All targets built by the `CMakeLists.txt` need to have that line added.

You could also add `abb_libegm::abb_libegm` to the `target_link_libraries(..)` lines already present for each binary target.

[2021-03-15 16:32] DyumanAditya commented on #121
Thank you for your help @gavanderhoorn! I got the package to build correctly. I'm uploading the updated `abb_libegm_samples` that will now build successfully on Windows (probably linux too)
[abb_libegm_samples.zip](https://github.com/ros-industrial/abb_libegm/files/6142974/abb_libegm_samples.zip)

[2021-03-16 11:39] DyumanAditya opened #122 "Wait for an EGM communication session to start..."
Hi,
I've built `abb_libegm_samples` and `abb_libegm` in the same catkin_ws. After sourcing the setup.bat (I'm using Windows), and running `rosrun abb_libegm_samples a2_pose_trajectory_node`, the output is stuck to this:
` Wait for an EGM communication session to start...`

I've changed the remote port number of the UCdevice to 6510, 6511, 6512, 6513, 6514, which doesn't seem to make a difference.

[2021-03-16 16:04] mkatliar commented on #119
This is the response that I got from ABB support:
[code]

[2021-03-16 16:08] gavanderhoorn commented on #119
That's a very interesting response, as both @jontje and me use RobotStudio to test and work with EGM.

@jontje ?

[2021-03-16 16:10] mkatliar commented on #119
@gavanderhoorn I was also surprised. If it "doesn't do anything with EGM", why does it support EGM commands and even send EGM data.

[2021-03-16 16:15] gavanderhoorn commented on #119
Perhaps a lost in translation? Perhaps "doesn't do anything with EGM" actually means: "RobotStudio does not influence any of the internals of EGM".

As I wrote in https://github.com/ros-industrial/abb_libegm/issues/119#issuecomment-786703538:

perhaps that's what's meant by "RS doesn't do anything with EGM", as in: RS uses *some* internal clock, doesn't adjust anything in EGM so EGM just reports w

[2021-03-16 16:16] mkatliar commented on #119
"EGM is not supported by RS" also sounds interesting.

[2021-03-16 16:18] gavanderhoorn commented on #119
Yes, I agree.

That's the first time I hear that stated about RS.

But then again, I'm just "a user".

[2021-03-17 06:23] jontje commented on #119
I think there has been some misunderstanding somewhere in the support chain, and that response is very vague.

When you simulate a robot "in" RobotStudio, is is technically a background process that emulates RobotWare. And it is the RobotWare process that, for example, interpret RAPID code and manages EGM clients and communication.

But this is not something users generally don't know about, so it

[2021-03-17 06:33] jontje commented on #122
EGM sessions are started by the RAPID program, so the node is probably waiting for that.

I suggest that you go back and reread the responses your previous questions in, for example, issues: https://github.com/ros-industrial/abb_robot_driver/issues/10 and https://github.com/ros-industrial/abb_robot_driver/issues/20.

[2021-03-17 08:21] gavanderhoorn commented on #119
yeah, that's in summary what I was trying to say in https://github.com/ros-industrial/abb_libegm/issues/119#issuecomment-800401636.

@mkatliar: you could perhaps rephrase your question to ABB support and see whether it ends up at the right people?

[2021-03-17 09:26] mkatliar commented on #119
@gavanderhoorn I will.

[2021-03-17 17:36] DyumanAditya commented on #122
Thank you for your answer @jontje, I'm sorry, I assumed that the `abb_libegm_samples` was a standalone package. I've incorporated `abb_librws` and all other dependencies such that I can start the RAPID programs and the EGM session by calling a service. Is this the way you would do it?

[2021-03-17 17:36] #122 closed

[2021-03-17 18:09] gavanderhoorn commented on #122
This would be one way to do it, yes.

Note: with everything you've done, you're almost at the point where you've put together `abb_robot_driver`.

I'm still not sure why you can't use the FZI Cartesian controllers with `abb_robot_driver`. It would seem it would have saved you quite some time and effort.

[2021-03-18 03:55] DyumanAditya commented on #122
The project I'm working on requires the use of ros_industrial packages and unfortunately I'm not in a position to use the FZI Cartesian controllers because it's considered 3rd party. It would be preferable, for what I'm doing, not to use ros_control and instead use RobotStudio to take care of the pose control.  Do you have any suggestions for other possible alternatives?

[2021-03-18 07:50] DyumanAditya opened #123 "Setting up EGM sessions for abb_libegm_samples"
Hi,
I apologize for my elementary questions.
My catkin_ws looks like this:
[code]

What I am trying to do is to start an EGM session remotely and then use `rosrun` to launch a node from the `abb_libegm_samples`.
I have loaded the EGMSamplesSolution in RobotStudio meant for the `abb_libegm_samples`.
When I run `roslaunch abb_rws_service_provider rws_service_provider.launch robot_ip:=127.0.0.1` to s

[2021-03-18 08:14] jontje commented on #123
The `abb_rws_service_provider` node requires the `abb_rws_state_publisher` node for most services, as mentioned in the [overveiw](https://github.com/ros-industrial/abb_robot_driver/tree/master/abb_rws_service_provider#overview) section.

[2021-03-18 08:37] gavanderhoorn commented on #122
*Which* packages?

FZI is [in the consortium](https://rosindustrial.org/ric/current-members), and in addition, the controllers they've made available have been used by others and FZI themselves in industrial settings.

I'm not claiming they're free of problems, but that same claim cannot be made of the examples you're currently using instead of `abb_robot_driver`.

It sounds like you have some con

[2021-03-18 08:45] gavanderhoorn commented on #123
@jontje: tracking this in https://github.com/ros-industrial/abb_robot_driver/issues/22.

[2021-03-18 11:10] DyumanAditya commented on #123
Thank you, this solved my problem

[2021-03-21 05:49] DyumanAditya opened #125 "Rapid code corresponding to abb_libegm"
Hi All,
My objective is to create a ROS node that subscribes to a stream of poses being sent on a certain topic. This node should then send these poses to RobotStudio for the robot to follow.
I've successfully managed to create a node that can send these poses to RobotStudio, here is my callback function when a pose is published:
(I'm omitting the rest of the code because the communication setup i

[2021-03-22 07:22] jontje commented on #125
You would need to change `EGM_STOP_RAMP_DOWN` to `EGM_STOP_HOLD` in the `EGMRunPose` routine.

The meaning of `EGM_STOP_RAMP_DOWN` is that the robot will return to where EGM motions started, after the EGM communication session ends.

[2021-03-22 08:34] DyumanAditya commented on #125
Thank you @jontje, that fixed it.
When I stream poses on a ROS topic, the robot in RobotStudio finishes every pose before starting the next. There seems to be a sort of blocking operation. How can I make the robot move to the published pose in real-time as soon as it's been published -- i.e. not visit every pose that is published, but only move towards the most recent one? Is it possible to do thi

[2021-03-22 09:30] DyumanAditya commented on #125
**UPDATE:** I apologize for the previous comment, it turns out there was some latency regarding when I published the pose and when the robot started moving. Is there some way to reduce this latency? When I publish the pose it sometimes takes as long as 5-7 seconds for the robot to start moving in robot studio.

[2021-03-23 11:45] jontje commented on #125
That is probably because the RAPID example code you are using includes a `WaitTime 5;` instruction.

That RAPID example code shouldn't be used for any real application, its intention is just to show the necessary RAPID instructions to setup and start EGM on the robot controller side.

If possible, then I suggest that you use the [StateMachine Add-In](https://robotapps.robotstudio.com/#/viewApp/c16

[2021-03-23 13:23] DyumanAditya commented on #125
Even without the WaitTime 5; instruction the delay/latency stays the same; I have to publish twice sometimes for it to be registered.

Thanks for this, I will try it out.

[2021-04-08 11:05] ScottYang1982 opened #126 "What does the duration really mean?"
[code]
Hi, here the duration, it's the time from start or just the time interval between current point to the next point?

Thanks! @jontje

[2021-04-09 07:57] jontje commented on #126
Hi @ScottYang1982,

That duration is the desired time between the current and next point, and it is used in the [egm_interpolator.cpp](https://github.com/ros-industrial/abb_libegm/blob/e0b8c3b0a906a50a7ad8d1d1b465a4343369c4e8/src/egm_interpolator.cpp) file.

Please note that there is no guarantee that the robot will be able to adhere to the desired duration. For example, that depends on how EGM ha

[2021-05-12 07:24] gavanderhoorn commented on #126
Assuming the question has been answered, I'm closing this.

[2021-05-12 07:24] #126 closed

[2021-05-12 07:25] gavanderhoorn commented on #125
I'm going to close this due to inactivity.

[2021-05-12 07:25] #125 closed

[2021-05-12 07:25] gavanderhoorn commented on #123
Closing as it seems resolved.

[2021-05-12 07:25] #123 closed

[2021-06-11 13:08] TobiLaForge opened #130 "Active Trajectory sometimes has only 1 point"
Hello,

I have a problem using the egm_trajectory_interface. I modified the a1_joint_trajectory_node to subscribe to a trajectory_msgs/JointTrajectory, then add the points to a TrajectoryGoal. But when trying to run the trajectory, sometimes it is executed successfully and execution_progress.active_trajectory().points_size() obviously tells me the right amount of points. But in many other cases it

[2021-07-01 16:48] mkatliar commented on #119
This is what I got from ABB support:
[code]

[2021-07-01 17:08] gavanderhoorn commented on #119
Seems to confirm what I suspected in https://github.com/ros-industrial/abb_libegm/issues/119#issuecomment-786703538.

[2021-07-01 18:04] mkatliar commented on #119
It was in a private email.

[2021-07-01 18:07] mkatliar commented on #119
They agreed though that this is not consistent with the documentation:
[code]

[2021-07-05 07:26] gavanderhoorn commented on #119
Was there any indication the documentation / comments will be updated?

[2021-07-20 09:09] mkatliar commented on #119
No

[2021-07-22 10:45] TobiasVishchers commented on #130
I looked into this problem again, but I still can't get addTrajectory to work reliable. I also tried the action server code from issue #48, which has a high failure rate: 2 successful execution from 7 attempts, always the same, real trajectory sent from matlab.

The above written code has a scenario which I can reproduce 100% of the time:
- run node joint_controller_test with argument "listen"
- r

[2021-08-10 11:45] wenwenqingqing opened #131 "Why not add a path correction module？"
EGM have a additional function as Path Correction, which can be use to correction original abb robot motion instruction. Your all_libegm, I did not see this related method.

[2021-08-24 20:45] mkatliar commented on #119
The issue seems to be fixed in RobotStudio 21.2.9526.0 -- the timestamps look like UNIX time now.

[2021-08-25 06:55] gavanderhoorn commented on #119
Nice, so even if they stated this wouldn't be fixed, it has now been fixed?

[2022-02-11 12:32] Luc90 opened #132 "RobotWare 6.13 EGM UdpUc error"
Hello,

I work with the Yumi and EGM.
I upgraded the RobotWare version from 6.12 to 6.13. My Rapid code worked when I was using version 6.12 but with version 6.13, when I run the Rapid code I get the following two errors:
- 41830, Error sending EGM UdpUc message.
- 41822, No data from the UdpUc device.

I also updated the RobotWare to version 6.13 of the ABB1200 in our lab and tried to run the sam

[2022-02-11 13:02] gavanderhoorn commented on #132
I would check whether the *remote IP* setting of the `UdpUc` device is still correct.

[2022-02-14 06:35] Luc90 commented on #132
I have checked and the remote IP setting is correct.

[2022-03-31 17:34] kappa95 opened #133 "Question: Can I use this library on Windows for testing with a simulated robot?"
Hello community,

I would like to start to work with EGM, before I would like to understand how it works on the simulated robot (provided by robotstudio). Is it possible to use this library and the `abb_librwg` without being in a ROS environments?

Someone can explain to me how to do that? I have already installed the two dependencies indicated in the README. Is it necessary something else?

Thank

[2022-04-04 16:43] kappa95 opened #134 "Regulate robot speed - Robot too slow during the executions with EGM"
Hello community,

I started to use the the libraries with ROS Melodic and with another Windows PC with Robotstudio with the virtual controller set up with the Add-in StateMachine 1.0 (Robotware version 6.08.00). I am able to execute the examples of the repository [abb_robot_bringup_examples](https://github.com/ros-industrial/abb_robot_driver/tree/master/abb_robot_bringup_examples). The issue is th

[2022-04-04 16:48] gavanderhoorn commented on #131
The simple answer is: because the developers working on `abb_libegm` didn't have a use for one.

[2022-04-07 15:00] stephanie-eng commented on #49
I've also encountered what I think is the same issue:
I'm using abb_egm_rws_managers, so let me know if you'd rather I post this issue on that repo instead. When trying to understand the latency, I put a timer around `waitForMessage`. The time difference is generally small, but cyclically spikes as high as 15 - 20 ms.

[code]

I've tried to read through the code to investigate, and this is my unde

[2022-04-27 08:27] madelinegannon commented on #132
I experienced this as well after an upgrade. I was able to receive the initial message back from the robots, indicating a successful connection, but then was sent the timeout error. I believe there was a change to the EGM protobuf in 6.13 (in looking through the RobotWare changelogs).

[2022-04-27 11:01] gavanderhoorn commented on #132
Thanks for reporting.

Could you perhaps quote the relevant part of the changelog you mention?

[2022-04-27 15:03] madelinegannon commented on #132
Revision E of the [EGM Applications Manual](https://library.e.abb.com/public/88126e81b07a4835be9078444e39a909/3HAC073318%20AM%20Externally%20Guided%20Motion%20RW7-en.pdf) (Page 8) mentions that 2 new fields were added to the protocol message. _My guess_ is that if you're using an `emg.pb.h` built for 6.XX, that the new protobuf message format is not backwards compatible.

[2022-04-27 16:48] gavanderhoorn commented on #132
I'm somewhat confused.

You mention RW6, but the application manual you link is for RW7.

[2022-05-25 12:06] mkatliar commented on #111
Hello,

I have some new questions about EGM.

We use EGM for joint trajectory following, and our trajectories are quite fast. We provide both joint position and velocity reference to EGM, and use the "Raw" correction level. Below are examples of how the same reference trajectory is followed for different proportional position gain values:

Figure 1. gain=10
![p_10](https://user-images.githubuserco

[2022-06-09 09:42] enricovillagrossi commented on #132
Hi all,

we are also dealing with the "41822, No data from the UdpUc device" we are using RobotWare 6.12. In our case, EGM is working fine, but sometimes we get the error 41822 and need to restart the EGM. Looking at the ABB Actions (see the attached image), we are in case 3. We can improve the \CommTimeout, but 1 second of timeout seems reasonable.
I noticed that the error happens when the PC tha

[2022-06-09 10:29] gavanderhoorn commented on #132
It could be `abb_robot_driver`'s threads are starved, leading to the timeout.

For `abb_robot_driver` specifically, you could perhaps see whether installing an `PREEMPT_RT` kernel and then using [chrt](https://man7.org/linux/man-pages/man1/chrt.1.html) (with suitable parameters *and* run by a user with the required permissions) helps mitigate this.

If your `ros_control` controller is taking too l

[2022-06-14 09:35] YKK1024 opened #138 "Possibility about apply this library in Matlab"
Hello, could you tell me if I can use Matlab based on this egm library and socket to control the virtual robot in RobotStudio, especially for GoFa15000.

[2022-06-15 07:30] #138 closed, assigned to nobody

[2022-06-15 07:32] gavanderhoorn commented on #132
Any luck @enricovillagrossi?

[2022-06-16 07:10] enricovillagrossi commented on #132
We didn't try yet, we had to fix the problem quickly, we moved the abb_robot_driver on a dedicated PC, and the problem disappeared. I'll keep you informed once we will try the PREEMPT_RT kernel.

[2022-07-26 10:43] Yadunund opened #141 "Support for Four Axis SCARA Arms (Eg IRB910SC)"
Hi @jontje and @gavanderhoorn ,

I'm interested in using the library to interface with a four axis ABB SCARA Robot [IRB 910SC](https://new.abb.com/products/robotics/industrial-robots/irb-910sc).

Looking at the [BaseConfiguration](https://github.com/ros-industrial/abb_libegm/blob/ab40aec4fd79e24e3d342d87b41f8375991a1f04/include/abb_libegm/egm_common.h#L139-L158) struct, the only supported [RobotAx

[2022-10-19 09:27] kappa95 opened #144 "Append multiple trajectories creates stop during motion between trajectories"
Dear community,

I am trying to sending trajectories quite big (magnitudes of 300.000 points) in order to have a continuous path quite long (lasts hours at 10mm/s). The issue that I get is when I am trying to send the whole trajectory (all the points together) the robot is like stopped and moves very discontinuously. It seems that the `abb::egm::wrapper::trajectory::TrajectoryGoal` object can't co

[2022-10-20 10:16] adkoessler opened #146 "Problem when running `start_egm_joint`"
Hi,

I'm using RobotStudio 2022 and RobotWare 6.14 to control an IRB1200 robot (in a virtual station) using ROS. I've had good progress in the tutorials and RWS works fine. However, when I'm trying to execute [example 2](https://github.com/ros-industrial/abb_robot_driver/tree/master/abb_robot_bringup_examples#example-2-ex2_rws_and_egm_6axis_robot), I cannot move the simulated robot through ROS.

T

[2022-11-14 09:49] YKK1024 opened #148 "Example for controlling GoFa 15000 with C++ in Ubuntu"
Hello,
I have seen your examples [here](https://github.com/ros-industrial/abb_libegm/issues/18). These days I am working on controlling the GoFa 15000 with C++ in Ubuntu. But our requirement is without using ROS. Until now I have not found any already existing interface that can control GoFa with C++ in Ubuntu but without ROS. Could you tell me if there is already one or do I need to write it by m